spring:
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate.ddl-auto: update
        open-in-view: false
   datasource:
        url: jdbc:postgresql://proseo-db:5432/proseo
        username: postgres
        password: ********
logging:
    level:
        root: INFO
        de.dlr.proseo: TRACE
proseo:
    # Password expiration period in days
    password.expirationtime: 90
