spring:
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate.ddl-auto: update
    datasource:
        url: jdbc:postgresql://proseo-db:5432/proseo
        username: postgres
        password: sequel09Master
    packagesToScan: de.dlr.proseo.model
logging:
    level:
        root: INFO
        de:
            dlr:
                proseo: TRACE
proseo:
    user:
        name: user
        password: password

