proseo:
    global:
      storageIdPrefix: proseo
    procFacility:
      name: otc-proseo01
      url: https://proseo-k8s-gate.de
      descr: OTC-test-integration
    s3:
      s3AccessKey: XXXX
      s3SecretAccessKey: XXXX
      s3EndPoint: https://obs.eu-de.otc.t-systems.com 
      s3Region: eu-de
      s3MaxNumberOfBuckets: 50
      s3DefaultBucket: proseo-data-001
    alluxio:
      alluxioUnderFsS3Bucket: otc-proseo01-internal
      alluxioUnderFsS3BucketPrefix: underfs
      alluxioUnderFsDefaultPrefix: proseo-alluxio-cache
      alluxioUnderFsS3BucketEndPoint: https://obs.eu-de.otc.t-systems.com
      alluxioUnderFsMaxPrefixes: 500
    posix:
      mountPoint: /proseo/data
      workerMountPoint: /proseo/data
    joborder:
      bucket: otc-proseo01-internal
      prefix: joborders
    storageManager:
        user: XXXX
        password: XXXX
        defaultStorageType: S3
    mountpoints:
     #ALLUXIO-properties are only used for answering GET-requests on endpoint /info
      alluxio:
        k8sNode:
          alluxioCache: /mnt/alluxio
          alluxioFuse: /alluxio-fuse
      #Required for handling a mounted storage-appliance, available at every k8s-Node as POSIX-mountpoint
      unregisteredProducts:
        k8sNode:
          unregisteredProducts: /mnt/some-dir
          
        