spring:
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate.ddl-auto: update
    datasource:
        url: jdbc:postgresql://localhost:5432/proseo
        username: postgres
        password: ********
proseo:
    user: NONE
    password: NONE
    ingestor:
        url: http://proseo-ingestor:8080/proseo/ingestor/v0.1
    productionPlanner:
        url: http://proseo-prodplanner:8080/proseo/planner/v0.1
    orderManager:
        url: http://proseo-order-mgr:8080/proseo/order-mgr/v0.1
    processorManager:
        url: http://proseo-processor-mgr:8080/proseo/processor-mgr/v0.1
    productClassManager:
        url: http://proseo-productclass-mgr:8080/proseo/productclass-mgr/v0.1
