logging:
    level:
        root: INFO
        de.dlr.proseo: TRACE
proseo:
    global:
      storageIdPrefix: proseo

    s3:
      s3AccessKey: XXXX
      s3SecretAccessKey: XXXX
      s3EndPoint: https://my.cloud.provider.com 
      s3Region: eu-de
      s3MaxNumberOfBuckets: 50
      s3DefaultBucket: proseo-data-001

    alluxio:
      alluxioUnderFsS3Bucket: otc-proseo01-internal
      alluxioUnderFsS3BucketPrefix: underfs

      # Alluxio configuration values currently not in use       
#      alluxioUnderFsDefaultPrefix: proseo-alluxio-cache
#      alluxioUnderFsS3BucketEndPoint: https://my.cloud.provider.com
#      alluxioUnderFsMaxPrefixes: 500

    posix:
      mountPoint: /proseo/data
      workerMountPoint: /proseo/data
    joborder:
      bucket: otc-proseo01-internal
      prefix: joborders
    storageManager:
       defaultStorageType: S3
       
    # Alluxio configuration values currently not in use       
#    mountpoints:
#     #ALLUXIO-properties are only used for answering GET-requests on endpoint /info
#      alluxio:
#        k8sNode:
#          alluxioCache: /mnt/alluxio
#          alluxioFuse: /alluxio-fuse
          
        