spring:
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate.ddl-auto: update
        open-in-view: false
        properties.hibernate:
            jdbc.time_zone: UTC
            id.db_structure_naming_strategy: single
    datasource:
        url: jdbc:postgresql://proseo-db:5432/proseo
        username: <db_user>
        password: <db_pwd>
logging:
    file:
        name: /proseo/log/proseo-api-aipclient.log
    level:
        root: INFO
        de.dlr.proseo: INFO
        org.apache: WARN
        org.hibernate.engine.jdbc.env.internal: WARN
proseo:
    aipclient:
        # Path to the directory to download files to (must be readable for Storage Manager, see below)
        targetdir: /proseo/transfer/aip/downloads
        # Delete downloaded files from target directory after ingestion, if true
        deletetempfiles: true
        
    ingestor:
        # URL of the Ingestor Service
        url: http://proseo-ingestor:8080/proseo/ingestor/v0.1
        # Timeout for Ingestor connections in milliseconds (e. g. 30 s)
        timeout: 30000
        # Retention period for ingested products in days (e. g. 7 days; 0 means never evict)
        product.retention: 7
        
    storagemgr:
        # The Storage Manager mount point for product ingestion
        mountpoint: /mnt 
        # The directory for the Storage Manager to upload from (Storage Manager perspective on proseo.aipclient.targetdir)
        sourcedir: aip/downloads
        
    order:
        # Interval between product order status checks in milliseconds (e. g. every second)
        check.interval: 1000

    archive:
        # Maximum number of records to retrieve in one OData request ("$top" query parameter)
        maxrecords: 1000
        # Timeout for archive connections in milliseconds (e. g. 30 s)
        timeout: 30000
        # Maximum number of parallel archive order threads
        orderthreads: 100
        # Maximum number of parallel download threads
        threads: 6
    
    notification:
        # URL of the Notification Service
        url: http://proseo-notification:8080/proseo/notification/v1
        # URL of the message recipient (supports protocols as per Notification Service API, including "mailto:" and "http[s]:")
        recipient: "mailto:proseo-support@drbassler.de"
        # Sender identification
        sender: "noreply@localhost"
        