---
# Configure basic network settings before deploying Kubernetes

- hosts: k8s_cluster
  tasks:
  
  - name: Set default route
    shell: ip route replace default via 10.x.x.x
  
  - name: Set DNS resolution
    lineinfile:
      path: /etc/resolv.conf
      regexp: '^nameserver'
      line: nameserver 8.8.8.8
      insertbefore: BOF
    
  - name: disable firewalld
    service:
      name: firewalld
      state: stopped
      enabled: no
    