<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="hyphens: auto;word-break: break-word;">
<body>
  <div th:fragment="jobMenu">
    <div class="dropdown">
      <a class="nav-link order-menu-link" data-bs-toggle="dropdown"
        aria-expanded="false" role="button" href="#"><img alt="Menu"
        src="more-vertical.svg" class="order-menu-img"></span></a>
      <div class="dropdown-menu dropdown-menu-right menu">
        <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + 
            (
              (
                (${job?.jobState} == 'PLANNED') 
                  and 
                (${orderState} == 'RELEASING' 
                  or ${orderState} == 'RELEASED' 
                  or ${orderState} == 'RUNNING'
                )
              ) ? 'enabled' : 'disabled font-italic'
            )
          )"
          th:onclick="'setJobState(' + ${job?.id} + ', \'RELEASE\')'" href="#" th:title="#{helpjrelease}"><span
          th:text="#{release}">release</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${job?.jobState} == 'STARTED' or ${job?.jobState} == 'RELEASED') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobState(' + ${job?.id} + ', \'SUSPEND\')'" href="#" th:title="#{helpjsuspend}"><span
          th:text="#{suspend}">suspend</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${job?.jobState} == 'STARTED' or ${job?.jobState} == 'RELEASED') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobState(' + ${job?.id} + ', \'SUSPENDFORCE\')'"
          href="#" th:title="#{helpjsuspendforce}"><span th:text="#{suspendforce}">suspendforce</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${job?.jobState} == 'INITIAL' or ${job?.jobState} == 'PLANNED') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobState(' + ${job?.id} + ', \'CANCEL\')'" href="#" th:title="#{helpjcancel}"><span
          th:text="#{cancel}">cancel</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${job?.jobState} == 'FAILED') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobState(' + ${job?.id} + ', \'RETRY\')'" href="#" th:title="#{helpjretry}"><span
          th:text="#{retry}">retry</span></a>
      </div>
    </div>
  </div>
</body>
</html>