<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
  <div th:fragment="jobStepMenu">
    <div class="dropdown">
      <a class="nav-link order-menu-link" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" role="button"><img alt="Menu"
        src="more-vertical.svg" class="order-menu-img"></span></a>
      <div class="dropdown-menu dropdown-menu-right menu">
        <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + (((${jobstep?.jobStepState} == 'PLANNED') and (${orderState} == 'RELEASING' or ${orderState} == 'RELEASED' or ${orderState} == 'RUNNING')) ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobStepState(' + ${jobstep?.id} + ', \'RELEASE\')'" href="#" th:title="#{helpjsrelease}"><span
          th:text="#{release}">release</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${jobstep?.jobStepState} == 'WAITING_INPUT' or ${jobstep?.jobStepState} == 'READY') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobStepState(' + ${jobstep?.id} + ', \'SUSPEND\')'" href="#" th:title="#{helpjssuspend}"><span
          th:text="#{suspend}">suspend</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${jobstep?.jobStepState} == 'WAITING_INPUT' or ${jobstep?.jobStepState} == 'READY' or ${jobstep?.jobStepState} == 'RUNNING') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobStepState(' + ${jobstep?.id} + ', \'SUSPENDFORCE\')'"
          href="#" th:title="#{helpjssuspendforce}"><span th:text="#{suspendforce}">suspendforce</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${jobstep?.jobStepState} == 'INITIAL') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobStepState(' + ${jobstep?.id} + ', \'CANCEL\')'" href="#" th:title="#{helpjscancel}"><span
          th:text="#{cancel}">cancel</span></a> <a
          th:if="${hasroleorderplanner}"
          th:class="('dropdown-item ' + ((${jobstep?.jobStepState} == 'FAILED') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setJobStepState(' + ${jobstep?.id} + ', \'RETRY\')'" href="#" th:title="#{helpjsretry}"><span
          th:text="#{retry}">retry</span></a>
      </div>
    </div>
  </div>
</body>
</html>