<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
	<div th:fragment="orderMenu">
		<dialog th:id="'plan' + ${ord?.id}" role="dialog" class="plandialog"
			aria-labelledby="dialog-heading">
		<div class="dialogtitle" th:text="#{selectfacility}">selectfacility</div>
		<div class="selectfacility">
			<select name="facilities" th:id="'facilities' + ${ord?.id}">
				<option th:each="fac : ${facilitynames}" th:text="${fac}"
					th:label="${fac}">facilities</option>
			</select>
		</div>
		<button th:id="'ok' + ${ord?.id}" th:text="#{plan}">plan</button>
		<button th:id="'cancel' + ${ord?.id}" th:text="#{cancel}">cancel</button>
		</dialog>
		<div class="dropdown">
			<a class="nav-link order-menu-link" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" role="button"><img alt="Menu"
				src="more-vertical.svg" class="order-menu-img"></span></a>
			<div class="dropdown-menu dropdown-menu-right menu">
				<a
				  th:if="${hasroleorderapprover}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'INITIAL') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'APPROVE\')'" href="#"><span
					th:text="#{approve}">approve</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'APPROVED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'plan(' + ${ord?.id} + ', \'PLAN\')'" href="#"><span
					th:text="#{plan}">plan</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'PLANNED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'RELEASE\')'" href="#"><span
					th:text="#{release}">release</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'RUNNING' or ${ord?.orderState} == 'RELEASED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'SUSPEND\')'" href="#"><span
					th:text="#{suspend}">suspend</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'RUNNING' or ${ord?.orderState} == 'RELEASED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'SUSPENDFORCE\')'"
					href="#"><span th:text="#{suspendforce}">suspendforce</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'PLANNED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'RESUME\')'" href="#"><span
					th:text="#{resume}">resume</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'PLANNED' or ${ord?.orderState} == 'APPROVED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'RESET\')'" href="#"><span
					th:text="#{reset}">reset</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'PLANNED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'CANCEL\')'" href="#"><span
					th:text="#{cancel}">cancel</span></a> <a
          th:if="${hasroleorderplanner}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'FAILED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'RETRY\')'" href="#"><span
					th:text="#{retry}">retry</span></a> <a
          th:if="${hasroleordermgr}"
					th:class="('dropdown-item ' + ((${ord?.orderState} == 'COMPLETED' or ${ord?.orderState} == 'FAILED') ? 'enabled' : 'disabled font-italic'))"
					th:onclick="'setState(' + ${ord?.id} + ', \'CLOSE\')'" href="#"><span
					th:text="#{close}">close</span></a>
        <div class="dropdown-divider"></div>
        <a
          th:if="${hasroleordermgr}"
          th:class="('dropdown-item ' + ((${ord?.orderState} == 'INITIAL') ? 'enabled' : 'disabled font-italic'))"
          th:href="'/order-edit?id=' + ${ord?.id}"><span
          th:text="#{edit}">edit</span></a>
        <a
          th:if="${hasroleordermgr}"
          class="dropdown-item enabled"
          th:href="'/order-edit?id=' + ${ord?.id} + '&cp=true'"><span
          th:text="#{copy}">copy</span></a>
        <a
          th:if="${hasroleordermgr}"
          th:class="('dropdown-item ' + ((${ord?.orderState} == 'CLOSED' or ${ord?.orderState} == 'INITIAL') ? 'enabled' : 'disabled font-italic'))"
          th:onclick="'setState(' + ${ord?.id} + ', \'DELETE\')'" href="#"><span
          th:text="#{delete}">delete</span></a>
			</div>
		</div>
	</div>
</body>
</html>