spring:
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate.ddl-auto: update
    datasource:
        url: jdbc:postgresql://localhost:5432/proseo
        username: postgres
        password: sequel09Master
    packagesToScan: de.dlr.proseo.model

logging:
    level:
        root: INFO
        de:
            dlr:
                proseo: TRACE
server.tomcat.accesslog.enabled: true                
proseo:
    productionPlanner:
        url: http://192.168.20.155:8080/proseo/planner
        user: s5p-proseo
        password: sieb37.Schlaefer
        cyclewaittime: 1000
        maxcycles: 50
        dispatcherwaittime: 100000
    storageManager:
        url: http://localhost:8090/castlemock/mock/rest/project/DB3vth/application/VYrwNF/storage-mgr
        user: none
        password: none
    ingestor:
        url: http://192.168.20.155:8081/proseo/ingestor/v0.1
        user: none
        password: none
    global:
      storageIdPrefix: proseo
    procFacility:
      name: devel
      url: http://localhost:9887/k8s-api-endpoint
      descr: local env :-)
    s3:
      s3AccessKey: short_access_key
      s3SecretAccessKey: short_secret_key
      s3EndPoint: http://192.168.20.159:9000
      s3Region: eu-de
      s3DefaultBucket: proseo-data-001
      s3MaxNumberOfBuckets: 50
    alluxio:
      alluxioUnderFsS3Bucket: internal
      alluxioUnderFsS3BucketPrefix: underfs
      alluxioUnderFsS3BucketEndPoint: http://192.168.20.159:9000
      alluxioUnderFsMaxPrefixes: 500
      alluxioUnderFsDefaultPrefix: proseo-alluxio-cache
    joborder:
      bucket: internal
      prefix: joborders
    mountpoints:
     #ALLUXIO-properties are only used for answering GET-requests on endpoint /info
      alluxio:
        k8sNode:
          alluxioCache: /mnt/alluxio
          alluxioFuse: /alluxio-fuse
      #Required for handling a mounted storage-appliance, available at every k8s-Node as POSIX-mountpoint
      unregisteredProducts:
        k8sNode:
          unregisteredProducts: /mnt/some-dir
