<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
      <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title th:text="#{configuredprocessor} + ' | ' + #{proseo}">proseo</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous" />

          <!-- Custom styles for prosEO -->
          <link href="../static/fragments/proseo.css" th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="../static/fragments/bootstrap-multiselect.css" th:href="@{/fragments/bootstrap-multiselect.css}" type="text/css"/>
  </head>

<body>
  
    <div style="display:none;" class="loading">
      <div class="loader"></div>
    </div>
  <nav id="proseo-nav"
    class="navbar bg-light fixed-top flex-md-nowrap p-0 shadow navbar-expand-md">
    <div class="container-fluid pl-0 pr-0">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
        href="/"><img src="proseo_logo.png" class="rounded" width="50"
        height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>
      <button class="navbar-toggler position-absolute d-md-none collapsed"
        type="button" data-toggle="collapse" data-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav mr-auto navbar-left">
        <li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
            th:text="${missioncode}">mission</span></a></li>
        <li class="p-breadcrumb-item" aria-current="page"><span
          th:text="#{configuredprocessor}">show</span></li>
      </ul>
      <div th:replace="fragments/navbar.html :: navbarRight"></div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div th:insert="fragments/sidebar.html :: sidebarMenu"></div>
      <div class="proseo-top-div"></div>

      <main th:unless="${hasroleprocessorreader}" role="main"
        class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <h5 class="FAILED">
          <br> <span th:text="#{noroleright}"></span> (PROCESSOR_READER) <br>&nbsp;
        </h5>
      </main>
      <main th:if="${hasroleprocessorreader}" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">   
	      <div th:if="${errormsg != null}" id="errormsg" name="errormsg" class="FAILED">
	        <h5>
	          <br> <span th:text="${errormsg}"></span></h5>
	      </div>
	      
        <div th:unless="${errormsg != null}" class="container-fluid">
            <p>&nbsp;</p>
          <form th:unless="${errormsg != null}" class="needs-validation" name="procc-shw" id="procc-shw" action="javascript:retrieveDataPrim();">
            <div class="row py-lg-1">
              <div class="col-1 pr-lg-0">
                <p class="input-group-text word-wrap"
                  th:text="#{id}"></p>
              </div>
              <div class="col-1 pl-lg-0">
                      <input type="number" min="1" class="form-control" autocomplete="on"
                        name="cid" id="cid">
              </div>
              <div class="col-2 pr-lg-0">
                <p class="input-group-text word-wrap"
                  th:text="#{name}"></p>
              </div>
              <div class="col-2 pl-lg-0">
                <input type="text" class="form-control" id="identifier">
              </div>   
              <div class="col-2 pr-lg-0">
                <p class="input-group-text word-wrap"
                  th:text="#{processorname}"></p>
              </div>
              <div class="col-2 pl-lg-0">
                <select name="processorClasses" id="processorClasses" multiple="multiple">
                  <option th:each="obj : ${processorclassnames}" th:text="${obj}"
                    th:label="${obj}"></option>
                </select>
              </div> 
            </div>   
            <div class="row py-lg-1">
              <div class="col-2">
                <button id="configprocselect" type="button"
                  onclick="retrieveDataPrim();"
                  class="btn btn-sm btn-outline-secondary">
                  <span th:text="#{configuredprocessors-show}"></span>
                </button>
              </div> 
              <div class="col-2 pr-lg-0">
                <p class="input-group-text word-wrap"
                  th:text="#{processor-version}"></p>
              </div>
              <div class="col-2 pl-lg-0">
                <input type="text" class="form-control" id="processorVersion">
              </div>   
              <div class="col-2 pr-lg-0">
                <p class="input-group-text word-wrap"
                  th:text="#{configuration}"></p>
              </div>
              <div class="col-2 pl-lg-0">
                <input type="text" class="form-control" id="configuration">
              </div>  
              <div class="col-1 pr-lg-0">
                <p class="input-group-text word-wrap"
                  th:text="#{enabled}"></p>
              </div>
              <div class="col-1 pl-lg-0">
                <select name="enabled" id="enabled" multiple="multiple">
                  <option label="true">true</option>
                  <option label="false">false</option>
                </select>
              </div> 
            </div>   
          </form>
  
        </div>

        <div id="configuredprocessorcontent" name="configuredprocessorcontent">
          <table class="table" id="configuredprocessorTable" name="configuredprocessorTable">
            <thead class="thead-proseo" id="proseo-thead">
              <tr>
                    <th><span th:text="#{id}">id</span></th>
                    <th onclick="selectSort('select-name')" 
                        class="cursorpointer"><span id="select-name" class="select-up" th:class="((${selcol} == 'id' ? ${selorder} : ''))" 
                        th:text="#{name}">name</span></th>
                    <th><span th:text="#{uuid}">uuid</span></th>
                    <th onclick="selectSort('select-processorname')" 
                        class="cursorpointer"><span id="select-processorname" class="select-up" th:class="((${selcol} == 'id' ? ${selorder} : ''))" 
                        th:text="#{processorname}">processorname</span></th>
                    <th onclick="selectSort('select-processorversion')" 
                        class="cursorpointer"><span id="select-processorversion" class="select-up" th:class="((${selcol} == 'id' ? ${selorder} : ''))" 
                        th:text="#{processorversion}">processorversion</span></th>
                    <th onclick="selectSort('select-configuration')" 
                        class="cursorpointer"><span id="select-configuration" class="select-up" th:class="((${selcol} == 'id' ? ${selorder} : ''))" 
                        th:text="#{configuration}">configuration</span></th>
                    <th onclick="selectSort('select-enabled')" 
                        class="cursorpointer"><span id="select-enabled" class="select-up" th:class="((${selcol} == 'id' ? ${selorder} : ''))" 
                        th:text="#{enabled}">enabled</span></th>
              </tr>
            </thead>
            <tbody th:unless="${configuredprocessors} == null">
              <div th:each="configuredprocessor : ${configuredprocessors}">
              <tr>
                <td class="first-row" th:text="${configuredprocessor?.id}"></td>
                <td class="first-row" th:text="${configuredprocessor?.identifier}"></td>
<!--                 <td class="first-row"> <a th:href="'/configuredprocessor-class-show#' + ${configuredprocessor?.configuredprocessorName}" th:text="${configuredprocessor?.configuredprocessorName}"></a></td> -->
                <td class="first-row" th:text="${configuredprocessor?.uuid}"></td>
                <td class="first-row"><a 
                  th:if="${hasroleprocessorreader}"
                  th:href="'/processor-show?processorName=' + ${configuredprocessor?.processorName}" 
                  th:text="${configuredprocessor?.processorName}"></a><span 
                  th:unless="${hasroleprocessorreader}"
                  th:text="${configuredprocessor?.processorName}"></span></td>
                <td class="first-row"><a 
                  th:if="${hasroleprocessorreader}"
                  th:href="'/processor-show?processorName=' + ${configuredprocessor?.processorName} + '&processorVersion=' + ${configuredprocessor?.processorVersion}" 
                  th:text="${configuredprocessor?.processorVersion}"></a><span 
                  th:unless="${hasroleprocessorreader}"
                  th:text="${configuredprocessor?.processorVersion}"></span></td>
                <td class="first-row"><a 
                  th:if="${hasroleconfigurationreader}"
                  th:href="'/configuration-show?configurationVersion=' + ${configuredprocessor?.configurationVersion} + '&processorClass=' + ${configuredprocessor?.processorName}"
                  th:text="${configuredprocessor?.configurationVersion}"></a><span 
                  th:unless="${hasroleconfigurationreader}"
                  th:text="${configuredprocessor?.configurationVersion}"></span></td>
                <td class="first-row" th:text="${configuredprocessor?.enabled}"></td>
              </div>
            </tbody>
          </table>
          <div th:replace="fragments/navbar.html :: alternatePageNav"></div>
        </div>
      <div th:insert="fragments/footer.html :: footer"></div>
      </main>
    </div>
  </div>
</body>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="../static/fragments/proseo.js" th:src="@{/fragments/proseo.js}" type="text/javascript"></script>
  <script src="../static/fragments/bootstrap-multiselect.js" th:src="@{/fragments/bootstrap-multiselect.js}" type="text/javascript"></script>
  <script src="../static/fragments/jquery.serialize-object.js" th:src="@{/fragments/jquery.serialize-object.js}" type="text/javascript"></script>

<script>
  var clickHandler = function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("configprocselect").click();
    }
  };
  var input = document.getElementById("identifier");
  input.addEventListener("keyup", clickHandler);
  input = document.getElementById("cid");
  input.addEventListener("keyup", clickHandler);
  input = document.getElementById("configuration");
  input.addEventListener("keyup", clickHandler);
  input = document.getElementById("processorVersion");
  input.addEventListener("keyup", clickHandler);
</script>

<script type="text/javascript" th:inline="javascript">
		// Global variables
		// paging
		var currentPage = 1; // Current page number
		var pageSize = 20; // Maximum objects per page

    var cid = null;
    var identifier = null;
    var processorClasses = null;
    var processorVersion = null;
    var configuration = null;
    var enabled = null;

		// sorting
	  var sortCols = ['select-name', 'select-processorname', 'select-processorversion', 'select-configuration', 'select-enabled'];
	  var sortCol = "name";
	  var upText = "true";

		// set paging and sorting parameters
		function setParams(ele, selup, newPage, newPageSize) {
		    var newCid = null;
		    var newIdentifier = null;
		    var newProcessorClasses = null;
		    var newProcessorVersion = null;
		    var newConfiguration = null;
		    var newEnabled = null;
		    
		    var hasChanged = false;
		
		    hasChanged |= setPageParams(newPage, newPageSize);
		    hasChanged |= setSortParams(ele, selup);

        newCid = $('#cid').val();
        if (isEmpty(newCid)) {newCid = null};  
        newIdentifier = $('#identifier').val();
        if (isEmpty(newIdentifier)) {newIdentifier = null};    
        newProcessorVersion = $('#processorVersion').val();
        if (isEmpty(newProcessorVersion)) {newProcessorVersion = null};    
        newConfiguration = $('#configuration').val();
        if (isEmpty(newConfiguration)) {newConfiguration = null};  
        newProcessorClasses = $('#processorClasses').val();
        newEnabled = $('#enabled').val();
		    

        if (   cid != newCid
            || identifier != newIdentifier
            || processorVersion != newProcessorVersion
            || configuration != newConfiguration
            || !arrayEquals(processorClasses, newProcessorClasses)
            || !arrayEquals(enabled, newEnabled)) {
          // table size may be changed, go to first page
          currentPage = 1;
          newPage = 1;
          hasChanged = true;
          $('#processorClasses').multiselect('select', processorClasses);
          $('#enabled').multiselect('select', enabled);
        }   
        cid = newCid;
        identifier = newIdentifier;
        processorVersion = newProcessorVersion;
        configuration = newConfiguration;
        processorClasses = newProcessorClasses;
        enabled = newEnabled;
		    if (hasChanged) {
		        setHTMLParams();
		    }
		}
		
		// set parameters in URI
		function setHTMLParams() {
		    // build parameter string
		    var paramString = "";
		    paramString = addURLParamValuePrim('id', cid, paramString);
		    paramString = addURLParamValuePrim('identifier', identifier, paramString);
		    paramString = addURLParamValuePrim('processorVersion', processorVersion, paramString);
		    paramString = addURLParamValuePrim('configuration', configuration, paramString);
	      paramString = addURLParamValuesPrim('processorClass', processorClasses, paramString);
	      paramString = addURLParamValuesPrim('enabled', enabled, paramString);
        paramString = setPageHTMLParams(paramString);
        paramString = setSortHTMLParams(paramString);
		    var newHref = location.origin + location.pathname + paramString;
		    if (newHref != location.href) {
		        history.pushState({}, null, newHref);
		    }
		}
		
		// read URI parameters
		function readHTMLParams() {
	      cid = getURLParam('id');
	      identifier = getURLParam('identifier');
        processorVersion = getURLParam('processorVersion');
        configuration = getURLParam('configuration');
        processorClasses = getURLParams('processorClass');
        enabled = getURLParams('enabled');
	      readPageHTMLParams();
	      readSortHTMLParams();
		}
		
    // set selection in filter parameters
    function setSelected() {
        $('#cid').val(cid);
        $('#identifier').val(identifier);
        $('#processorVersion').val(processorVersion);
        $('#configuration').val(configuration);
        if (processorClasses != null && processorClasses.length > 0) {
          $('#processorClasses').multiselect('select', processorClasses);
        }
        if (enabled != null && enabled.length > 0) {
          $('#enabled').multiselect('select', enabled);
        }
    }
		function updateTable(newPage, newPageSize) {
		    setParams(null, null, newPage, newPageSize);
		    retrieveData();
		}

    function retrieveDataPrim() {
        setParams(null, null, null, null);
        retrieveData();
    }
	    

    function initMultiselect() {
         $('#processorClasses').multiselect({
             buttonWidth : '99%',
             enableFiltering : true,
             numberDisplayed : 0,
             maxHeight : 400,
             enableCaseInsensitiveFiltering : true,
             nonSelectedText : ''
         });
         $('#enabled').multiselect({
             buttonWidth : '99%',
             enableFiltering : true,
             numberDisplayed : 0,
             maxHeight : 400,
             enableCaseInsensitiveFiltering : true,
             nonSelectedText : ''
         });
    }

    function retrieveData() {
        if ([[${hasroleprocessorreader}]]) {
            showLoader();
            initMultiselect();
            setParams(null, null, null, null);
            setSelected();
            var tableRows = $("configuredprocessorTable").rows;
            if(tableRows > 1 && tableRows != null) {
                $("configuredprocessorTable > tbody").empty();
            }
            var url = "/configuredprocessor/get";  
            var divider = "?"; 
            if (parameterHasValue(cid)) {
                url = url + divider + "id=" + cid;
                divider = "&";
            }   
            if (parameterHasValue(identifier)) {
                url = url + divider + "identifier=" + identifier.toString().trim();
                divider = "&";
            }
            if (parameterHasValue(processorVersion)) {
                url = url + divider + "processorVersion=" + processorVersion.toString().trim();
                divider = "&";
            }
            if (parameterHasValue(configuration)) {
                url = url + divider + "configuration=" + configuration.toString().trim();
                divider = "&";
            }
            if (processorClasses != null) {
                url = url + divider + "processorClass=" + processorClasses;
                divider = "&";
            }
            if (enabled != null) {
                url = url + divider + "enabled=" + enabled;
                divider = "&";
            }
            var from = getFromRow();
            var to = getToRow();     
            if (parameterHasValue(from)) {
                url = url + divider + "recordFrom=" + from;
                divider = "&";
            }
            if (parameterHasValue(to)) {
                url = url + divider + "recordTo=" + to;
                divider = "&";
            }
            url = url + divider + "sortby=" + sortCol.replace("select-", "");
            divider = "&";
            url = url + divider + "up=" + upText;
            divider = "&";
            
            $.ajax({
                url: url,
                method: "GET",
                success: function (res) {
                    $("#configuredprocessorcontent").html(res);
                    hideLoader();
                    readHTMLParams();
                    feather.replace();
                    initMultiselect();
                    scrollToHash();
                    setSelected();
                    setSort();
                },
                fail: function (err) {
                    hideLoader();
                    console.log(err);
                    initMultiselect();
                    prop.innerHTML = "Fehler!" + err;
                }

            });
        }
    };
</script>
<script>

		//correct scroll due to "sticky" elements
		var handler = function ( ) {
		var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
		        + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
		window.scrollBy(0, h);
		};
		window.addEventListener('hashchange', handler);
		
		// Read the HTML parameters from URI and retrieve the corresponding data
		function loadWindow() {
			activateSidebarElem('sb-configured-processor');
		  feather.replace();
		  readHTMLParams();
		  setSelected();
      setSort();
      retrieveData();
		  //updateTable(currentPage, pageSize);
		};
		
		window.onload = function () {
		  loadWindow();
		  // correct scroll due to "sticky" elements
		  var handler = function ( ) {
		      var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
		               + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
		      window.scrollBy(0, h);
		  };        
		};
		// re-load window to read and set all HTML parameters
		$(window).on('popstate', function (e) {
		loadWindow();
		});
</script>

</html>
