<!doctype html>
<html lang="en">
   <head>
   
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <title>prosEO</title>
      
      <!-- jQuery JavaScript functionality -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <!-- Bootstrap JavaScript functionality -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
      <!-- Bootstrap stylesheet -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <!-- custom styles for prosEO -->
      <link href="../static/fragments/proseo.css" th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
      
      <style>
         body {
            margin-left: 30px;
         
            /* Background image*/
            background-image: url(background.jpg); 
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100%;
            background-attachment: fixed;
            background-color: white;
         }
         
         h1 {
            margin-bottom: 30px;
         }
         
         form {
            margin-bottom: 30px;
         }
      </style>
      
   </head>
   
   <body>
   
      <h1 style="text-align: left;">Login</h1>
        
      <form th:action="@{/customlogin}" method="post" style="text-align: left;">
      
         <div th:if="${param.error}" class="alert alert-error">    
            Invalid username and password.
         </div>
         
         <div th:if="${param.logout}" class="alert alert-success"> 
            You have been logged out.
         </div>
         
         <div style="margin-bottom: 10px;">
            <label for="username" style="display: inline-block; width: 100px;"><span th:text="#{username}"></label>
            <input type="text" id="username" name="username" required>
         </div>
         
         <div style="margin-bottom: 10px;">
            <label for="password" style="display: inline-block; width: 100px;"><span th:text="#{password}"></label>
            <input type="password" id="password" name="password" required>
         </div>
         
         <div style="margin-bottom: 10px;">
            <label for="mission" style="display: inline-block; width: 100px;"><span th:text="#{missions}"></label>
            <select id="mission" name="mission">
               <option th:each="miss : ${missions}" th:text="${miss}" th:label="${miss}"></option>
            </select>
         </div>
         
         <button type="submit" class="btn btn-primary"><span th:text="#{login}"></span></button>
         
      </form>
      
      <p><span th:text="#{proseo}"></span> - <span th:text="#{missioncontrol}"></span> - <span th:text="#{version}"></span> <span th:text="${proseoversion}"></span> - <span th:text="#{copyright}"></span></p>	

   </body>
   
</html>