<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
   <head>
   
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <title>prosEO</title>
      
      <!-- jQuery JavaScript functionality -->

      <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
  rel="stylesheet">
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom styles for prosEO -->
<link href="../static/fragments/proseo.css"
  th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css">
      <style>
         body {
            margin-left: 30px;
         
            /* Background image*/
            background-image: url(background.jpg); 
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100%;
            background-attachment: fixed;
            background-color: white;
         }
         
         h1 {
            margin-bottom: 30px;
         }
         
         form {
            margin-bottom: 30px;
         }
      </style>
      
   </head>
   
   <body>
   
      <h1 style="text-align: left;">Login</h1>
        
      <form th:action="@{/customlogin}" method="post" style="text-align: left;">
      
         <div th:if="${param.error}" class="alert alert-error">    
            Invalid username and password.
         </div>
         
         <div th:if="${param.logout}" class="alert alert-success"> 
            You have been logged out.
         </div>
         
         <input type="hidden" id="username" name="username" required>
         
         <div style="margin-bottom: 10px;">
            <label for="userN" style="display: inline-block; width: 100px;"><span th:text="#{username}"></label>
            <input type="text" id="userN" name="userN" required>
         </div>
         
         <div style="margin-bottom: 10px;">
            <label for="password" style="display: inline-block; width: 100px;"><span th:text="#{password}"></label>
            <input type="password" id="password" name="password" required>
         </div>
         
         <div style="margin-bottom: 10px;">
            <label for="mission" style="display: inline-block; width: 100px;"><span th:text="#{missions}"></label>
            <select id="mission" name="mission">
               <option th:each="miss : ${missions}" th:text="${miss}" th:label="${miss}"></option>
            </select>
         </div>
         
         <button type="submit" class="btn btn-primary"><span th:text="#{login}"></span></button>
      </form>
      
      <p><span th:text="#{proseo}"></span> - <span th:text="#{missioncontrol}"></span> - <span th:text="#{version}"></span> <span th:text="${proseoversion}"></span> - <span th:text="#{copyright}"></span></p>	

   </body>
  
   <script type="text/javascript"> 
			window.onload = function () {
			    document.getElementById('userN').addEventListener('change', updateUserMission);
			    document.getElementById('mission').addEventListener('change', updateUserMission);
			}
	    function updateUserMission() {
	          var userN = document.getElementById('userN');
	          var username = document.getElementById('username');
	          var mission = document.getElementById('mission');
	          var name = mission.options[mission.selectedIndex].value +'/' + userN.value;
	          username.value = name;
	    }
	  </script>
</html>