<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="#{dashboard} + ' | ' + #{proseo}">proseo</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous" />

          <!-- Custom styles for prosEO -->
          <link href="../static/fragments/proseo.css" th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
            <style>
              .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              }

              .progress {
              width: 150px;
              height: 150px;
              background: none;
              position: relative;
              }

              .progress::after {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 6px solid #eee;
              position: absolute;
              top: 0;
              left: 0;
              }

              .progress>span {
              width: 50%;
              height: 100%;
              overflow: hidden;
              position: absolute;
              top: 0;
              z-index: 1;
              }

              .progress .progress-left {
              left: 0;
              }

              .progress .progress-bar {
              width: 100%;
              height: 100%;
              background: none;
              border-width: 6px;
              border-style: solid;
              position: absolute;
              top: 0;
              }

              .progress .progress-left .progress-bar {
              left: 100%;
              border-top-right-radius: 80px;
              border-bottom-right-radius: 80px;
              border-left: 0;
              -webkit-transform-origin: center left;
              transform-origin: center left;
              }

              .progress .progress-right {
              right: 0;
              }

              .progress .progress-right .progress-bar {
              left: -100%;
              border-top-left-radius: 80px;
              border-bottom-left-radius: 80px;
              border-right: 0;
              -webkit-transform-origin: center right;
              transform-origin: center right;
              }

              .progress .progress-value {
              position: absolute;
              top: 0;
              left: 0;
              }

            </style>
  </head>

  <body>
    <div style="display:none;" id="loader"></div>
    <nav id="proseo-nav"
      class="navbar bg-light fixed-top flex-md-nowrap p-0 shadow navbar-expand-md">
      <div class="container-fluid pl-0 pr-0">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
          href="/"><img src="proseo_logo.png" class="rounded" width="50"
            height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed"
          type="button" data-toggle="collapse" data-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
                th:text="${missioncode}">mission</span></a></li>
          <li class="p-breadcrumb-item" aria-current="page"><span
                th:text="#{dashboard}">dashboard</span></li>
        </ul>
        <div th:replace="fragments/navbar.html :: navbarRight"></div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div th:insert="fragments/sidebar.html :: sidebarMenu"></div>
      <div class="proseo-top-div"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"> 
        <h5>
          <span th:text="#{lastfailed}"></span> <span th:text="#{jobsteps}"></span>
        </h5>
          <div id="failedjs" name="failedjs">
            <div>
              <table class="table table-hover">                
                        <thead class="thead-proseo-order">
                          <tr>
                            <th><span th:text="#{id}">id</span></div></th>
                            <th><span th:text="#{state}">state</span></th>
                            <th><span th:text="#{order}">order</span></th>
                            <th><span th:text="#{processingmode}">processingmode</span></th>
                            <th><span th:text="#{inputproductclasses}">inputproductclasses</span></th>
                            <th><span th:text="#{outputproductclass}">outputproductclass</span></th>
                            <th><span th:text="#{starttime}">starttime</span></th>
                            <th><span th:text="#{completiontime}">completiontime</span></th>
                            <th><span th:text="#{outloglevel}">outloglevel</span></th>
                            <th><span th:text="#{errloglevel}">errloglevel</span></th>
                          </tr>
                        </thead>
                <tbody>
                  <div th:each="jobstep : ${failedjobsteps}">
                    <tr>
                      <td><a th:href="'order?id=' + ${jobstep?.orderId} + '&sh=true&jsh=' + ${jobstep?.jobId} + '&t=' + ${jobstep?.id}"><span th:text="${jobstep?.id}"></span></a></td>
                      <td class="FAILED"><span th:text="${jobstep?.jobStepState}"></span></td>
                      <td><a th:href="'order?id=' + ${jobstep?.orderId}"><span th:text="${jobstep?.orderIdentifier}"></span></a></td>
                      <td><span th:text="${jobstep?.processingMode}"></span></td>
                      <td><a th:each="comp : ${jobstep?.inputProductClasses}" 
                       class="proseo-list-item"  
                       th:href="'/productclass-show?pc=' + ${comp}" th:text="' ' + ${comp}"></a></td>
                      <td><a 
                         th:href="'/productclass-show?pc=' + ${jobstep?.outputProductClass}" th:text="' ' + ${jobstep?.outputProductClass}"></a></td>
                      <td><span th:text="${jobstep?.processingStartTime}"></span></td>
                      <td><span th:text="${jobstep?.processingCompletionTime}"></span></td>
                      <td><span th:text="${jobstep?.stdoutLogLevel}"></span></td>
                      <td><span th:text="${jobstep?.stderrLogLevel}"></span></td>
                    </tr>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
          
        <h5>
          <span th:text="#{lastcompleted}"></span> <span th:text="#{jobsteps}"></span>
        </h5>
          <div id="completedjs" name="completedjs">
            <div>
              <table class="table table-hover">              
                        <thead class="thead-proseo-order">
                          <tr>
                            <th><span th:text="#{id}">id</span></div></th>
                            <th><span th:text="#{state}">state</span></th>
                            <th><span th:text="#{order}">order</span></th>
                            <th><span th:text="#{processingmode}">processingmode</span></th>
                            <th><span th:text="#{inputproductclasses}">inputproductclasses</span></th>
                            <th><span th:text="#{outputproductclass}">outputproductclass</span></th>
                            <th><span th:text="#{starttime}">starttime</span></th>
                            <th><span th:text="#{completiontime}">completiontime</span></th>
                            <th><span th:text="#{outloglevel}">outloglevel</span></th>
                            <th><span th:text="#{errloglevel}">errloglevel</span></th>
                          </tr>
                        </thead>
                <tbody>
                  <div th:each="jobstep : ${completedjobsteps}">
                    <tr>
                      <td><a th:href="'order?id=' + ${jobstep?.orderId} + '&sh=true&jsh=' + ${jobstep?.jobId} + '&t=' + ${jobstep?.id}"><span th:text="${jobstep?.id}"></span></a></td>
                      <td class="COMPLETED"><span th:text="${jobstep?.jobStepState}"></span></td>
                      <td><a th:href="'order?id=' + ${jobstep?.orderId}"><span th:text="${jobstep?.orderIdentifier}"></span></a></td>
                      <td><span th:text="${jobstep?.processingMode}"></span></td>
                      <td><a th:each="comp : ${jobstep?.inputProductClasses}" 
                       class="proseo-list-item"  
                       th:href="'/productclass-show?pc=' + ${comp}" th:text="' ' + ${comp}"></a></td>
                      <td><a 
                         th:href="'/productclass-show?pc=' + ${jobstep?.outputProductClass}" th:text="' ' + ${jobstep?.outputProductClass}"></a></td>
                      <td><span th:text="${jobstep?.processingStartTime}"></span></td>
                      <td><span th:text="${jobstep?.processingCompletionTime}"></span></td>
                      <td><span th:text="${jobstep?.stdoutLogLevel}"></span></td>
                      <td><span th:text="${jobstep?.stderrLogLevel}"></span></td>
                    </tr>
                  </div>
                </tbody>
              </table>
            </div>
          </div>           
            <div class="row">
              <div class="col-md-3">
                <div class="bg-white rounded-lg p-5 shadow">
                  <h2 class="h6 font-weight-bold text-center mb-4">Completed Orders</h2>

                  <div class="progress mx-auto" data-value='80'>
                    <span class="progress-left"> <span
                        class="progress-bar border-primary"></span>
                    </span> <span class="progress-right"> <span
                        class="progress-bar border-primary"></span>
                    </span>
                    <div
                      class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                      <div class="h2 font-weight-bold">
                        80<sup class="small">%</sup>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row text-center mt-4">
                    <div class="col-6 border-right">
                      <div class="h4 font-weight-bold mb-0">30%</div>
                      <span class="small text-gray">Last 3 days</span>
                    </div>
                    <div class="col-6">
                      <div class="h4 font-weight-bold mb-0">80%</div>
                      <span class="small text-gray">Last Week</span>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
                    
          <div th:insert="fragments/footer.html :: footer"></div>
        </main>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="../static/fragments/proseo.js" th:src="@{/fragments/proseo.js}" type="text/javascript"></script>

  <script type="text/javascript">
  function getFailedJobSteps(count) {
      showLoader();

      var url = "/failedjobsteps/get"
      var divider = "?";
      
      if (count != null) {
        url = url + divider + "latest=" + count.toString().trim();
        divider = "&";

        $.ajax({
          url : url,
          method : "GET",
          success : function(res) {
            $("#failedjs").html(res);
            // loader is closed by getCompletedJobSteps 
            // hideLoader();
          },
          fail : function(err) {
              hideLoader();
            console.log(err);
            prop.innerHTML = "Fehler!" + err;
          }
        });
      }
    };
    function getCompletedJobSteps(count) {
        showLoader();

        var url = "/completedjobsteps/get"
        var divider = "?";
        
        if (count != null) {
          url = url + divider + "latest=" + count.toString().trim();
          divider = "&";

          $.ajax({
            url : url,
            method : "GET",
            success : function(res) {
              $("#completedjs").html(res);
              hideLoader();
            },
            fail : function(err) {
                hideLoader();
              console.log(err);
              prop.innerHTML = "Fehler!" + err;
            }
          });
        }
      };
      function updateJobSteps() {
    	     getFailedJobSteps(10);
    	     getCompletedJobSteps(10);
      }
</script>
<script>
    window.onload = function () {
     // $('.collapse').collapse();
     var elem = document.getElementById('sb-dashboard');
     $(elem).addClass('active');
     feather.replace();
     updateJobSteps();
     
     // correct scroll due to "sticky" elements
     var handler = function ( ) {
        var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
    			      + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
    	  window.scrollBy(0, h);
      };
      window.addEventListener('hashchange', handler);
     
    }
</script>
<script>
document.addEventListener('DOMContentLoaded', function(event) {  
  window.setInterval(function () {
	  getFailedJobSteps(10);
    getCompletedJobSteps(10);
  }, 
  30000);
});

$(function() {

  $(".progress").each(function() {

    var value = $(this).attr('data-value');
    var left = $(this).find('.progress-left .progress-bar');
    var right = $(this).find('.progress-right .progress-bar');

    if (value > 0) {
      if (value <= 50) {
        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
      } else {
        right.css('transform', 'rotate(180deg)')
        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
      }
    }

  })

  function percentageToDegrees(percentage) {

    return percentage / 100 * 360

  }

});
</script>
</html>