<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="#{proseo}">proseo</title>
        <!-- Bootstrap core CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Custom styles for prosEO -->
        <link href="../static/fragments/proseo.css"
          th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/fragments/bootstrap-multiselect.css" th:href="@{/fragments/bootstrap-multiselect.css}" type="text/css"/>
  </head>

  <body>
  <header>
    <nav id="proseo-nav"
      class="navbar navbar-expand-lg bg-body-tertiary bg-light fixed-top shadow no-padding">
      <div class="container-fluid no-padding">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
          href="/"><img src="proseo_logo.png" class="rounded" width="50"
          height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed"
          type="button" data-toggle="collapse" data-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
                th:text="${missioncode}">mission</span></a></li>
          <li class="p-breadcrumb-item"><a class="bread-link" href="/order-show"><span
                th:text="#{order}">order</span></a></li>
          <li class="p-breadcrumb-item" aria-current="page"><span id="breadcrumb-order-name"></span></li>
        </ul>
        <div th:replace="~{fragments/navbar.html :: navbarRight}"></div>
      </div>
    </nav>
  </header>
  <div style="display: none;" class="loading">
    <div class="loader"></div>
  </div>

  <div th:replace="~{fragments/sidebar.html :: sidebarMenu}"></div>
  <div class="container-fluid bg-body proseo-body">
      <main th:unless="${hasroleorderreader}" role="main"
        class="col-auto px-md-4">
        <h5 class="FAILED">
          <br> <span th:text="#{noroleright}"></span> (ORDER_READER) <br>&nbsp;
        </h5>
      </main>
      <main th:if="${hasroleorderreader}" role="main" class="col-auto px-md-4">
        <div th:if="${errormsg != null}" id="errormsg" name="errormsg" class="FAILED">
          <h5>
            <br> <span th:text="${errormsg}"></span></h5>
        </div>
          
          <div id="ordercontent" name="ordercontent">
            <div th:each="ord : ${orders}">
              <table class="table table-hover" id="orderTable">
                <thead class="thead-proseo-order">
                  <tr>
                    <th><span th:text="#{id}">id</span></th>
                    <th><span th:text="#{name}">name</span></th>
                    <!-- <th><span th:text="#{facility}">facility</span></th> -->
                    <th><span th:text="#{state}">state</span></th>
                    <th><span th:text="#{outputfileclass}">outputfileclass</span></th>
                    <th><span th:text="#{slicing}">slicing</span></th>
                    <th><span th:text="#{productretentionperiod}">productretentionperiod</span></th>
                    <th><span th:text="#{outputproductclasses}">outputproductclasses</span></th>
                    <th><span th:text="#{jobstepstates}">jobstepstates</span></th>
                    <th><span>&nbsp;</span></th>
                  </tr>
                  <tr>
                    <th class="tr-rowspan"><span>&nbsp;</span></th>
                    <th><span th:text="#{uuid}">uuid</span></th>
                    <th><span th:text="#{processingmode}">processingmode</span></th>
                    <th><span th:text="#{processingtype}">productiontype</span></th>
                    <th colspan="1"><span th:text="#{sensingstartstoptime}">sensingstartstoptime</span></th>
                    <th><span th:text="#{evictiontime}">evictiontime</span></th>
                    <th><span th:text="#{inputclassesstoplist}">inputproductclasses</span></th>
                    <th><span th:text="#{percentcomplete}">percentcomplete</span></th>
                    <th><span>&nbsp;</span></th>
                  </tr>
                  <tr th:unless="${#lists.isEmpty(ord?.configuredProcessors)}">
                    <th class="tr-rowspan"><span>&nbsp;</span></th>
                    <th><span th:text="#{executiontime}">executiontime</span></th>
                    <th colspan="5"><span th:text="#{requestedconfiguredprocessors}">requestedconfiguredprocessors</span></th>
                    <th><span>&nbsp;</span></th>
                  </tr>
                </thead>
                <tbody>
                  <!--          table-danger   - dark rose -->
                  <!--          table-info     - light blue -->
                  <!--          table-warning  - light sand -->
                  <!--          table-success  - light green -->
                  <tr
                    th:id="${ord?.id}">
                    <td th:text="${ord?.id}"></td>
                    <td id="order-name" th:text="${ord?.identifier}"></td>
                    <!-- <td><span id="orderFacility"></span></td> -->
                      <td th:if="(${ord?.orderState} == 'PLANNING' or ${ord?.orderState} == 'RELEASING')" style="padding: 0px;">
                        <div th:class="(${ord?.hasFailedJobSteps} == true) ? 'FAILED' : ${ord?.orderState}"
                             th:text="${ord?.orderState}" style="padding: 0.25rem;">
                        </div>                          
                        <div th:title="${ord?.createdJobs} + ' jobs of ' + ${ord?.expectedJobs}" class="progress" style="min-height: 10px; border-radius: 0px;">
                          <div th:class="'progress-bar ' + ${ord?.orderState}" role="progressbar" th:style="'width: ' + ${#numbers.formatInteger((100.0 / ord?.expectedJobs * ord?.createdJobs),1)} + '%;'" 
                               th:aria-valuenow="${ord?.createdJobs}" aria-valuemin="0" th:aria-valuemax="${ord?.expectedJobs}">
                          </div>
                        </div>
                      </td>
                      <td th:unless="(${ord?.orderState} == 'PLANNING' or ${ord?.orderState} == 'RELEASING')"
                          th:class="(${ord?.hasFailedJobSteps} == true) ? 'FAILED' : ${ord?.orderState}"
                          th:text="${ord?.orderState}"></td>
                    <td th:text="${ord?.outputFileClass}"></td>
                    <td th:if="${ord?.slicingType} == 'ORBIT'"><div th:each="orb : ${ord?.orbits}"><p class="p-in-td"><span th:text="#{orbit}">orbit</span>: 
                          <span th:text="#{spacecraft}">spacecraft</span> <span th:text="${orb?.spacecraftCode}">spacecraftCode</span>, 
                          <span th:text="${orb?.orbitNumberFrom}">orbitNumberFrom</span> &ndash; <span th:text="${orb?.orbitNumberTo}">orbitNumberTo</span>, 
                          <span th:text="#{overlap}">overlap</span>: <span th:text="${ord?.sliceOverlap}">sliceOverlap</span></p></div></td>
                    <td th:if="${ord?.slicingType} == 'TIME_SLICE'"><span th:text="#{timeslice}">timeslice</span>: 
                      <span th:text="#{duration}">duration</span>: <span th:text="${ord?.sliceDuration}">sliceDuration</span>, 
                      <span th:text="#{overlap}">overlap</span>: <span th:text="${ord?.sliceOverlap}">sliceOverlap</span></td>
                    <td th:if="${ord?.slicingType} == 'CALENDAR_DAY'"><span th:text="#{calendarday}">calendarday</span>: <span th:text="#{overlap}">overlap</span>: <span th:text="${ord?.sliceOverlap}">sliceOverlap</span></td>
                    <td th:if="${ord?.slicingType} == 'CALENDAR_MONTH'"><span th:text="#{calendarmonth}">calendarmonth</span>: <span th:text="#{overlap}">overlap</span>: <span th:text="${ord?.sliceOverlap}">sliceOverlap</span></td>
                    <td th:if="${ord?.slicingType} == 'CALENDAR_YEAR'"><span th:text="#{calendaryear}">calendaryear</span>: <span th:text="#{overlap}">overlap</span>: <span th:text="${ord?.sliceOverlap}">sliceOverlap</span></td>
                    <td th:if="${ord?.slicingType} == 'NONE'"><span th:text="#{none}">none</span></td>
                    <td th:text="${(ord?.productRetentionPeriod!=null)?(ord?.productRetentionPeriod/86400):''}"></td>
                    <td><a 
                       th:if="${hasroleproductclassreader}"
                       th:each="comp : ${ord?.requestedProductClasses}" 
                       class="proseo-list-item"  
                       th:href="'/productclass-show?productClass=' + ${comp}" th:text="' ' + ${comp}"></a><span 
                       th:unless="${hasroleproductclassreader}"
                       th:each="comp : ${ord?.requestedProductClasses}" 
                       class="proseo-list-item"  
                       th:text="' ' + ${comp}"></span></td>
                      <td>
                        <span title="READY" th:class="${#lists.contains(ord?.jobStepStates, 'READY')} == true?'READY-c':'jobstepstate'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg></span>
                        <span title="WAITING_INPUT" th:class="${#lists.contains(ord?.jobStepStates, 'WAITING_INPUT')} == true?'WAITING_INPUT-c':'jobstepstate'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg></span>
                        <span title="RUNNING" th:class="${#lists.contains(ord?.jobStepStates, 'RUNNING')} == true?'RUNNING-c':'jobstepstate'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg></span>
                        <span title="FAILED" th:class="${#lists.contains(ord?.jobStepStates, 'FAILED')} == true?'FAILED-c':'jobstepstate'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg></span>
                        <span title="COMPLETED" th:class="${#lists.contains(ord?.jobStepStates, 'COMPLETED')} == true?'COMPLETED-c':'jobstepstate'"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle></svg></span>
                      </td>
                    <td><div th:insert="~{fragments/ordermenu.html :: orderMenu}"></div></td>
                  </tr>
                  <tr>
                    <td class="tr-rowspan">&nbsp;</td>
                    <td th:text="${ord?.uuid}"></td>
                    <td th:text="${ord?.processingMode}"></td>
                    <td th:text="${ord?.productionType}"></td>
                    <td colspan="1"><span th:text="${ord?.startTime}">startTime</span> &ndash; <span th:text="${ord?.stopTime}">stopTime</span></td>
                    <td th:unless="${ord?.evictionTime}" text=""></td>
                    <td th:if="${ord?.evictionTime}" th:text="${ord?.evictionTime}"></td>
                    <td><a 
                       th:if="${hasroleproductclassreader}"
                       th:each="comp : ${ord?.inputProductClasses}" 
                       class="proseo-list-item"  
                       th:href="'/productclass-show?productClass=' + ${comp}" th:text="' ' + ${comp}"></a><span 
                       th:unless="${hasroleproductclassreader}"
                       th:each="comp : ${ord?.inputProductClasses}" 
                       class="proseo-list-item"  
                       th:text="' ' + ${comp}"></span></td>
                    <td>
                      <div th:title="${ord?.percentCompleted + ord?.percentFailed} + '% finished'" class="progress">
                        <div class="progress-bar COMPLETED" role="progressbar" th:style="'width: ' + ${ord?.percentCompleted} + '%;'" 
                            th:aria-valuenow="${ord?.percentCompleted}" aria-valuemin="0" aria-valuemax="100"
                            th:text="${ord?.percentCompleted} + '%'"
                            th:title="${ord?.percentCompleted} + '% completed'"></div>
                        <div class="progress-bar FAILED" role="progressbar" th:style="'width: ' + ${ord?.percentFailed} + '%;'" 
                            th:aria-valuenow="${ord?.percentFailed}" aria-valuemin="0" aria-valuemax="100"
                            th:text="${ord?.percentFailed} + '%'"
                            th:title="${ord?.percentFailed} + '% failed'"></div>
                        <div class="progress-bar RUNNING" role="progressbar" th:style="'width: ' + ${ord?.percentRunning} + '%;'" 
                            th:aria-valuenow="${ord?.percentRunning}" aria-valuemin="0" aria-valuemax="100"
                            th:text="${ord?.percentRunning} + '%'"
                            th:title="${ord?.percentRunning} + '% running'"></div>
                      </div></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr th:unless="${#lists.isEmpty(ord?.configuredProcessors)}">
                    <td class="tr-rowspan"><span>&nbsp;</span></td>
                    <td th:if="${ord?.executionTime}" th:text="${ord?.executionTime}"></td>
                    <td th:unless="${ord?.executionTime}"><span>&nbsp;</span></td>
                    <td colspan="5"><a 
                       th:if="${hasroleconfigurationreader}"
                       th:each="comp : ${ord?.configuredProcessors}" 
                       class="proseo-list-item"  
                       th:href="'/configured-processor-show?cp=' + ${comp}" th:text="${comp}"></a><span 
                       th:unless="${hasroleconfigurationreader}"
                       th:each="comp : ${ord?.configuredProcessors}" 
                       class="proseo-list-item"  
                       th:text="${comp}"></span></td>
                    <td><span>&nbsp;</span></td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-hover" id="orderfilters">
                <thead class="thead-proseo-order">
                  <tr>
                    <th id="togglefilter" class="cursorpointer" onclick="toggleFilter()"><div id="filterhide" th:title="#{hideFilter}"><span
                          data-feather="minus-circle"
                          th:title="#{hideFilter}"></span>&nbsp;<span th:text="#{filterandparams}">filterandparams</span></div>
                        <div id="filtershow" th:title="#{showFilter}"><span
                          data-feather="plus-circle"
                          th:title="#{showFilter}"></span>&nbsp;<span th:text="#{filterandparams}">filterandparams</span></div></th>
                    <th><span th:text="#{productclass}">productclass</span></th>
                    <th><span th:text="#{key}">key</span></th>
                    <th><span th:text="#{value}">value</span></th>
                  </tr>
                </thead>
                <tbody class="filtercontent" id="togglefiltercontent">
                  <div th:each="ifilt : ${ord?.inputFilters}">
                    <div th:each="fcond,iterStat : ${ifilt?.filterConditions}">
                      <tr th:if="${iterStat.first} == true" class="first-row">
                        <td th:rowspan="${#lists.size(ifilt?.filterConditions)}" class="first-row"><span th:text="#{inputfilter}">inputfilter</span></td>
                        <td th:rowspan="${#lists.size(ifilt?.filterConditions)}" class="first-row"><span th:text="${ifilt?.productClass}"></span></td>
                        <td class="first-row"><span th:text="${fcond?.key}"></span></td>
                        <td class="first-row"><span th:text="${fcond?.parameterValue}"></span></td>
                      </tr>
                      <tr th:if="${iterStat.first} == false">
                        <td><span th:text="${fcond?.key}"></span></td>
                        <td><span th:text="${fcond?.parameterValue}"></span></td>
                      </tr>
                    </div>
                  </div>
                  <div th:each="params : ${ord?.classOutputParameters}">
                    <div th:each="p,iterStat : ${params?.outputParameters}">
                      <tr th:if="${iterStat.first} == true" class="first-row">
                        <td th:rowspan="${#lists.size(params?.outputParameters)}" class="first-row"><span th:text="#{classoutparams}">classoutparams</span></td>
                        <td th:rowspan="${#lists.size(params?.outputParameters)}" class="first-row"><span th:text="${params?.productClass}"></span></td>
                        <td class="first-row"><span th:text="${p?.key}"></span></td>
                        <td class="first-row"><span th:text="${p?.parameterValue}"></span></td>
                      </tr>
                      <tr th:if="${iterStat.first} == false">
                        <td><span th:text="${p?.key}"></span></td>
                        <td><span th:text="${p?.parameterValue}"></span></td>
                      </tr>
                    </div>
                  </div>
                  <div th:each="p,iterStat : ${ord?.outputParameters}">
                    <tr th:if="${iterStat.first} == true" class="first-row">
                      <td th:rowspan="${#lists.size(ord?.outputParameters)}" class="first-row"><span th:text="#{outparams}">outparams</span></td>
                      <td th:rowspan="${#lists.size(ord?.outputParameters)}" class="first-row"><span th:text="#{allclasses}">allclasses</span></td>
                      <td class="first-row"><span th:text="${p?.key}"></span></td>
                      <td class="first-row"><span th:text="${p?.parameterValue}"></span></td>
                    </tr>
                    <tr th:if="${iterStat.first} == false">
                      <td><span th:text="${p?.key}"></span></td>
                      <td><span th:text="${p?.parameterValue}"></span></td>
                    </tr>
                  </div>
                  <div th:each="p,iterStat : ${ord?.dynamicProcessingParameters}">
                    <tr th:if="${iterStat.first} == true" class="first-row">
                      <td th:rowspan="${#lists.size(ord?.dynamicProcessingParameters)}" class="first-row"><span th:text="#{dynamicprocessingparameters}">dynamicProcessingParameters</span></td>
                      <td th:rowspan="${#lists.size(ord?.dynamicProcessingParameters)}" class="first-row"><span th:text="#{allclasses}">allclasses</span></td>
                      <td class="first-row"><span th:text="${p?.key}"></span></td>
                      <td class="first-row"><span th:text="${p?.parameterValue}"></span></td>
                    </tr>
                    <tr th:if="${iterStat.first} == false">
                      <td><span th:text="${p?.key}"></span></td>
                      <td><span th:text="${p?.parameterValue}"></span></td>
                    </tr>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
          
          <div id="jobscontent" name="jobscontent">
            <table class="table table-hover" id="jobs">
              <thead class="thead-proseo-order" id="jthead" hidden>
                <tr class="th-row">
                  <th colspan="2"><span th:text="#{jobs}">jobs</span></th>
                  <th ><span th:text="#{state}">state</span>
                    <select name="jobstates" id="jobstates" th:page="${page}" th:pagesize="${pageSize}" size="1">
                      <option>ALL</option>
                      <option>COMPLETED</option>
                      <option>NON-COMPLETED</option>
                    </select></th>
                  <th><span th:text="#{failedsteps}">failedsteps</span></th>
                  <th><span th:text="#{facility}">facility</span></th>
                  <th><span th:text="#{priority}">priority</span></th>
                  <th><span th:text="#{sensingstartstoptime}">sensingstartstoptime</span></th>
                  <th><span th:text="#{orbit}">orbit</span> <span th:text="#{number}">number</span></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody th:each="job : ${jobs}">
                  <tr th:id="${job?.id}">
                    <td th:id="'togglejob' + ${job?.id}" 
                        class="cursorpointer first-row" 
                        th:onclick="'toggleJob(' + ${job?.id} + ')'"
                      ><div class="jobhide" th:title="#{hideJobsteps}"
                            th:id="'jobh' + ${job?.id}"><span data-feather="minus-circle"></span></div>
                       <div class="jobshow" th:title="#{showJobsteps}" th:id="'jobs' + ${job?.id}"><span
                                  data-feather="plus-circle"></span></div></td>
                    <td class="first-row"><span th:text="${job?.id}"></span></td>
                    <td th:class="(${job?.hasFailedJobSteps} == true) ? 'FAILED' : ${job?.jobState} + ' first-row'"><span th:text="${job?.jobState}"></span></td>
                    <td class="first-row"><span th:text="${job?.hasFailedJobSteps}"></span></td>
                    <td class="first-row"><span th:text="${job?.processingFacilityName}"></span></td>
                    <td class="first-row"><span th:text="${job?.priority}"></span></td>
                    <td class="first-row"><span th:text="${job?.startTime}"></span> &ndash; <span th:text="${job?.stopTime}"></span></td>
                    <td class="first-row"><span th:text="${job?.orbit?.orbitNumber}"></span></td>
                    <td class="first-row"><div th:insert="~{fragments/jobmenu.html :: jobMenu}"></div></td>
                    <td th:rowspan="${#lists.size(job?.jobSteps)}"><span class="filtercontent" th:id="'togglejobg' + ${job?.id}"></span></td>
                  </tr>
                  <tr class="filtercontent" th:id="'togglejobb' + ${job?.id}">
                    <td class="emptycol"></td>
                    <td colspan="7">
                      <table class="table table-hover" th:id="'jobsteps' + ${job?.id}">
                        <thead class="thead-proseo-order">
                          <tr>
                            <th colspan="2"><span th:text="#{jobsteps}">jobsteps</span></th>
                            <th><span th:text="#{state}">state</span></th>
                            <th><span th:text="#{processingmode}">processingmode</span></th>
                            <th><span th:text="#{configuredprocessor}">configuredprocessor</span></th>
                            <th><span th:text="#{outputproduct}">product</span></th>
                            <th><span th:text="#{inputproducts}">inputproductclasses</span></th>
                            <th colspan="2"><span th:text="#{computestartstoptime}">computestartstoptime</span></th>
                            <th><span th:text="#{outloglevel}">outloglevel</span></th>
                            <th><span th:text="#{errloglevel}">errloglevel</span></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <div th:each="jobstep : ${job?.jobSteps}">
                            <tr>
                              <td th:id="'togglejs' + ${jobstep?.id}" class="cursorpointer" th:onclick="'toggleJS(' + ${jobstep?.id} + ')'"><div th:title="#{hideJobstepDetails}" 
                              class="jshide" th:id="'jsh' + ${jobstep?.id}"><span
                                  data-feather="minus-circle"></span></div><div class="jsshow" th:title="#{showJobstepDetails}" th:id="'jss' + ${jobstep?.id}"><span
                                  data-feather="plus-circle"></span></div></td>
                              <td class="first-row" th:id="${jobstep?.id}"><span th:text="${jobstep?.id}"></span></td>
                              <td th:class="${jobstep?.jobStepState} + ' first-row'"><span th:text="${jobstep?.jobStepState}"></span></td>
                              <td class="first-row"><span th:text="${jobstep?.processingMode}"></span></td>
                              <td class="first-row"><a 
                                th:if="${hasroleconfigurationreader}"
                                th:href="'/configured-processor-show?cp=' + ${jobstep?.configuredProcessor}"><span th:text="${jobstep?.configuredProcessor}"></span></a><span 
                                th:unless="${hasroleconfigurationreader}"><span th:text="${jobstep?.configuredProcessor}"></span></span></td>
                              <td class="first-row"><a  
                                th:if="${hasroleproductreader}"
                                th:href="'/product-show?id=' + ${jobstep?.outputProduct}"><span th:text="${jobstep?.outputProductClass}"></span></a><span  
                                th:unless="${hasroleproductreader}"><span th:text="${jobstep?.outputProductClass}"></span></span></td>
                              <td class="first-row"><span th:each="comp : ${jobstep?.inputProductClasses}">
                              <span th:if="${hasroleproductreader}">
                                <a 
                                  th:if="${#strings.equals(#strings.arraySplit(#strings.arraySplit(comp, '|')[1], '-')[1], '1')}"
                                  class="proseo-list-item"  
                                  th:href="'/product-show?jobStep=' + ${jobstep?.id} + '&productClass=' + ${#strings.arraySplit(comp, '|')[0]}"> 
                                  <span th:text="' ' + ${#strings.arraySplit(comp, '|')[0]}"
                                  th:class="${#strings.equals(#strings.arraySplit(#strings.arraySplit(comp, '|')[1], '-')[0], 'M')} ? 'mandatory-1' : 'optional-1'"
                                  th:title="${#strings.equals(#strings.arraySplit(#strings.arraySplit(comp, '|')[1], '-')[0], 'M')} ? #{mandatory-1} : #{optional-1}"></span>
                                  
                                </a>
                                <span th:if="${#strings.equals(#strings.arraySplit(#strings.arraySplit(comp, '|')[1], '-')[1], '0')}"
                                  class="proseo-list-item">
                                  <span th:unless="${#strings.equals(jobstep?.jobStepState, 'PLANNED')}"
                                  th:class="${#strings.equals(#strings.arraySplit(#strings.arraySplit(comp, '|')[1], '-')[0], 'M')} ? 'mandatory-0' : 'optional-0'"  
                                  th:text="' ' + ${#strings.arraySplit(comp, '|')[0]}"
                                  th:title="${#strings.equals(#strings.arraySplit(#strings.arraySplit(comp, '|')[1], '-')[0], 'M')} ? #{mandatory-0} : #{optional-0}"></span>
                                  <span th:if="${#strings.equals(jobstep?.jobStepState, 'PLANNED')}"
                                  th:text="' ' + ${#strings.arraySplit(comp, '|')[0]}"></span>
                                </span>
                                </span>
                                <span th:unless="${hasroleproductreader}"><span 
                                th:if="${hasroleproductreader} and ${#strings.equals(#strings.arraySplit(#strings.arraySplit(comp, '|')[1], '-')[1], '1')}"
                                class="proseo-list-item"  
                                th:text="' ' + ${#strings.arraySplit(comp, '|')[0]}"></span></span></span></td>
                              <td class="first-row"><span th:text="${jobstep?.processingStartTime}"></span></td>
                              <td class="first-row"><span th:text="${jobstep?.processingCompletionTime}"></span></td>
                              <td class="first-row"><span th:text="${jobstep?.stdoutLogLevel}"></span></td>
                              <td class="first-row"><span th:text="${jobstep?.stderrLogLevel}"></span></td>
                              <td class="first-row"><div th:insert="~{fragments/jobstepmenu.html :: jobStepMenu}"></div></td>
                            </tr>
                          <tr class="filtercontent th-row" th:id="'togglejsh2' + ${jobstep?.id}">
                            <th class="tr-rowspan"><span>&nbsp;</span></th>
                            <th colspan="9"><span th:text="#{joffilename}">joffilename</span></th>
                          </tr>
                            <tr class="filtercontent" th:id="'togglejsb2' + ${jobstep?.id}">
                            <td class="tr-rowspan"><span>&nbsp;</span></td>
                              <!-- <td colspan="9"><a th:href="'http://192.168.20.191:30001/proseo/storage-mgr/v0.1/products/download?pathInfo=' + ${jobstep?.jobOrderFilename}" 
                                th:download="${jobstep?.jobOrderFilename}"><span th:text="${jobstep?.jobOrderFilename}"></span></a></td>
                               --> 
                              <td colspan="9"><span th:text="${jobstep?.jobOrderFilename}"></span></td>
                            </tr>
                            <tr class="filtercontent" th:id="'togglejsb3' + ${jobstep?.id}">
                            <td class="tr-rowspan"><span>&nbsp;</span></td>
                              <td colspan="9">
                           <a th:href="'/jobsteplog.txt?id=' + ${jobstep?.id}"
                              type="application/text"
                              th:download="'log_' + ${jobstep?.id} + '.txt'"><span th:text="#{stdout}">stdout</span></a></td>
                            </tr>
                          </div>
                        </tbody>
                      </table>
                    </td>
                  </tr>
              </tbody>
            </table>
            <div th:replace="~{fragments/navbar.html :: alternatePageNav}"></div>                
          </div>
          <div th:insert="~{fragments/footer.html :: footer}"></div>
        </main>
      </div>
  </body>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script
    src="sha384-sha384-G/EV+4j2dNv+tEPo3+https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-sha384-G/EV+4j2dNvsha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="../static/fragments/proseo.js" th:src="@{/fragments/proseo.js}" type="text/javascript"></script>
  <script src="../static/fragments/bootstrap-multiselect.js" th:src="@{/fragments/bootstrap-multiselect.js}" type="text/javascript"></script>
  <script src="../static/fragments/jquery.serialize-object.js" th:src="@{/fragments/jquery.serialize-object.js}" type="text/javascript"></script>

<script type="text/javascript" th:inline="javascript"> 
function wikiPage() {
    window.open('https://github.com/dlr-eoc/prosEO/wiki/GUI-Order-Details#order-details');
  }
// Global variables
// paging
var currentPage = 1; // Current page number
var pageSize = 20; // Maximum objects per page

var id = null;
var jh = new Array;
var jsh = new Array;
var fsh = null;
var jobstates = null;
var calcPage = false;

// set paging and sorting parameters
function setParams(ele, selup, newPage, newPageSize) {
    var newId = null;
    var newJh = null;
    var newJsh = null;
    var newFsh = null;
    var newJobstates = null;
    
    var hasChanged = false;

    hasChanged |= setPageParams(newPage, newPageSize);


    var jobstateMenu =  document.getElementById('jobstates');
    newJobstates = Array.of (jobstateMenu.options[jobstateMenu.selectedIndex].value);
    newFsh = getURLParams('fsh');
    
    if (!arrayEquals(fsh, newFsh)) {
    	fsh = newFsh;
    	hasChanged = true;
    }
    if (!arrayEquals(jobstates, newJobstates)) {
        // table size may be changed, go to first page
        jobstates = newJobstates;
        currentPage = 1;
        newPage = 1;
        hasChanged = true;
    }

    if (hasChanged) {
        setHTMLParams();
    }
}


// set parameters in URI
function setHTMLParams() {
    // build parameter string
    var paramString = "";
    paramString = addURLParamValuePrim('id', id, paramString);
    paramString = addURLParamValuesPrim('jh', jh, paramString);
    paramString = addURLParamValuesPrim('jsh', jsh, paramString);
    paramString = addURLParamValuesPrim('fsh', fsh, paramString);
    paramString = addURLParamValuesPrim('jobstates', jobstates, paramString);
    paramString = setPageHTMLParams(paramString);
    var newHref = location.origin + location.pathname + paramString;
    if (newHref != location.href) {
        history.pushState({}, null, newHref);
    }
}

// read URI parameters
function readHTMLParams() {
    readPageHTMLParams();
    id = getURLParam('id');
    jh = getURLParams('jh');
    jsh = getURLParams('jsh');
    fsh = getURLParams('fsh');
    jobstates = getURLParams('jobstates');
}

// set selection in filter parameters
function setSelected() {
}

function updateTable(newPage, newPageSize) {
    setParams(null, null, newPage, newPageSize);
    retrieveJobs();
}

    function toggleFilter() {
	      var eleshow = document.getElementById("filtershow");
	      var elehide = document.getElementById("filterhide");
        var content = document.getElementById("togglefiltercontent");
        $(content).toggleClass("filtercontent");
        if ($(content).css("display") === "none") {
            $(eleshow).show();
            $(elehide).hide();
            fsh = arrayRemove(fsh, "true");
            setHTMLParams();
        } else {
            $(eleshow).hide();
            $(elehide).show();
            fsh = arrayAdd(fsh, "true");
            setHTMLParams();
        }
    }

function toggleJS(id) {
    var eleshow = document.getElementById("jss" + id);
    var elehide = document.getElementById("jsh" + id);
    var content2 = document.getElementById("togglejsb2" + id);
    var content3 = document.getElementById("togglejsb3" + id);
    var secondhead = document.getElementById("togglejsh2" + id);
    var thirdhead = document.getElementById("togglejsh3" + id);
    $(secondhead).toggleClass("filtercontent");   
    $(thirdhead).toggleClass("filtercontent");   
    $(content2).toggleClass("filtercontent");
    $(content3).toggleClass("filtercontent");
    if ($(content2).css("display") === "none") {
        $(eleshow).show();
        $(elehide).hide();
        jsh = arrayRemove(jsh, id);
        setHTMLParams();
    } else {
        $(eleshow).hide();
        $(elehide).show();
        jsh = arrayAdd(jsh, id);
        setHTMLParams();
    }
}
function toggleJob(id) {
    var eleshow = document.getElementById("jobs" + id);
    var elehide = document.getElementById("jobh" + id);
    var content = document.getElementById("togglejobb" + id);
    var graph = document.getElementById("togglejobg" + id);
    //var secondhead = document.getElementById("togglejsh2" + id);
    //var thirdhead = document.getElementById("togglejsh3" + id);
    //$(secondhead).toggleClass("filtercontent");   
    //$(thirdhead).toggleClass("filtercontent");   
    $(content).toggleClass("filtercontent");
    $(graph).toggleClass("filtercontent");
    if ($(content).css("display") === "none") {
        $(eleshow).show();
        $(elehide).hide();
        jh = arrayRemove(jh, id);
        setHTMLParams();
    } else {
        $(eleshow).hide();
        $(elehide).show();
        jh = arrayAdd(jh, id);
        setHTMLParams();
    }
}

function doPlan(oId, facility) {
    if ([[${hasroleorderplanner}]]) {
        showLoader();
        var url = "/order-state/post?id=" + oId + "&state=PLAN&facility=" + facility;
        var row = document.getElementById(oId);
        
        $.ajax({
            url : url,
            method : "POST",
            success : function(res, textStatus, jqXHR) {
                hideLoader();
                if (jqXHR.getResponseHeader("warnstatus") != null && jqXHR.getResponseHeader("warnstatus") != 'productfound') {
                    alert(jqXHR.getResponseHeader("warnstatus") + ': ' + jqXHR.getResponseHeader("warndesc"));
                    retrieveData();
                } else if (jqXHR.getResponseHeader("warnstatus") != null) {
                    alert(jqXHR.getResponseHeader("warnstatus") + ': ' + jqXHR.getResponseHeader("warndesc"));
                } else {
                    retrieveData();
                }
              },
              error : function(jqXHR, textStatus, errorThrown) {
                  hideLoader();
                  console.log(errorThrown);
                  alert("Error: " + errorThrown);
              }
        });
    }
};

function setState(oId, state) {
    showLoader();
    var url = "/order-state/post?id=" + oId + "&state=" + state;
    var row = document.getElementById(oId);
    var method = 'POST';
    $.ajax({
        url : url,
        method : method,
        success : function(res, textStatus, jqXHR) {
            hideLoader();
            if (jqXHR.getResponseHeader("warnstatus") != null && jqXHR.getResponseHeader("warnstatus") != 'nocontent') {
                alert(jqXHR.getResponseHeader("warnstatus") + ': ' + jqXHR.getResponseHeader("warndesc"));
            } else {
		            if (state == 'DELETE') {
		                location.href = location.origin + '/order-show';  
		            } else if (state == 'RESET') {
                    jh = null;
                    jsh = null;
                    fsh = null;
 		                retrieveData();
		            } else {
		                retrieveData();
		            }
            }
        },
        error : function(jqXHR, textStatus, errorThrown) {
            hideLoader();
            console.log(errorThrown);
            alert("Error: " + errorThrown);
            if (state == 'DELETE') {
                location.href = location.origin + '/order-show';                  
            }
        }
    });
};

function setJobState(jId, state) {
    showLoader();
    var url = "/job-state/post?id=" + jId + "&state=" + state;
    var method = 'POST';
    var oId = getURLParam('id');
    $.ajax({
        url : url,
        method : method,
        success : function(res, textStatus, jqXHR) {
            hideLoader();
            if (jqXHR.getResponseHeader("warnstatus") != null && jqXHR.getResponseHeader("warnstatus") != 'nocontent') {
                alert(jqXHR.getResponseHeader("warnstatus") + ': ' + jqXHR.getResponseHeader("warndesc"));
            }
            retrieveData();
        },
        error : function(jqXHR, textStatus, errorThrown) {
            hideLoader();
            console.log(errorThrown);
            alert("Error: " + errorThrown);
        }
    });
};

function setJobStepState(jsId, state) {
    showLoader();
    var url = "/jobstep-state/post?id=" + jsId + "&state=" + state;
    var method = 'POST';
    var oId = getURLParam('id');
    $.ajax({
        url : url,
        method : method,
        success : function(res, textStatus, jqXHR) {
            hideLoader();
            if (jqXHR.getResponseHeader("warnstatus") != null && jqXHR.getResponseHeader("warnstatus") != 'nocontent') {
                alert(jqXHR.getResponseHeader("warnstatus") + ': ' + jqXHR.getResponseHeader("warndesc"));
            }
            retrieveData();
        },
        error : function(jqXHR, textStatus, errorThrown) {
            hideLoader();
            console.log(errorThrown);
            alert("Error: " + errorThrown);
        }
    });
};

function retrieveData() {
    if ([[${hasroleorderreader}]]) {
    	  showLoader();
        var tableRows = $("orderTable").rows;
        if (tableRows > 1 && tableRows != null) {
            $("orderTable > tbody").empty();
        }
        var url = "/order/get"
        var divider = "?";
        
        if (id == null) {
            hideLoader();
        } else {
            url = url + divider + "id=" + id.toString().trim();
            divider = "&";

            $.ajax({
                url : url,
                method : "GET",
                success : function(res, textStatus, jqXHR) {
                    readHTMLParams();
                    hideLoader();
                    $("#ordercontent").html(res);
                    var on = document.getElementById('order-name');
                    var br = document.getElementById('breadcrumb-order-name');
                    br.textContent = on.textContent; 
                    document.title = on.textContent + " | " + [[#{proseo}]];
                    var eleshow = document.getElementById("filtershow");
                    var elehide = document.getElementById("filterhide");
                    $(eleshow).show();
                    $(elehide).hide();  
                    feather.replace(); 
                    for (var i = 0; i < fsh.length; i++) {
                        if (fsh[i] == 'true') {
                            toggleFilter();
                        }
                    }
                    feather.replace(); 
                    retrieveJobs(); 
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    hideLoader();
                    console.log(textStatus + errorThrown);
                    alert("Error: " + errorThrown);
                }
            });
        }
    }
};

function selectJobState() {
	  var jobstateMenu =  document.getElementById('jobstates');
    jobstates = jobstateMenu.options[jobstateMenu.selectedIndex].value;
    setHTMLParams();
    retrieveJobs();
}

function retrieveJobs() {
    if ([[${hasroleorderreader}]]) {
        showLoader();
        var tableRows = $("jobs").rows;
        if (tableRows > 1 && tableRows != null) {
            $("jobs > tbody").empty();
        }
        var url = "/jobs/get";
        var divider = "?";
        if (id == null) {
        	  hideLoader();
        } else {
            url = url + divider + "orderid=" + id.toString().trim();
            divider = "&";

            var from = getFromRow();
            var to = getToRow();  
            if (parameterHasValue(from)) {
                url = url + divider + "recordFrom=" + from;
                divider = "&";
            }
            if (parameterHasValue(to)) {
                url = url + divider + "recordTo=" + to;
                divider = "&";
            }
            if (parameterHasValue(jh)) {
                url = url + divider + "job=" + jh;
            }
            if (parameterHasValue(jsh)) {
                url = url + divider + "jsh=" + jsh;
            }
            if (parameterHasValue(calcPage)) {
                url = url + divider + "calcPage=" + calcPage;
            }
            if (jobstates != null && jobstates.length > 0) {
                url = url + divider + "jobstates=" + jobstates;
                divider = "&";
            }


            $.ajax({
                url : url,
                method : "GET",
                success : function(res, textStatus, jqXHR) {
                    $("#jobscontent").html(res);
                    readHTMLParams();
                    document.getElementById('jthead').hidden = false;
                    document.getElementById('jobstates').addEventListener('change', selectJobState);
                
                    var from = getFromRow();
                    var to = getToRow();     
                    if (jobstates != null) {
                	      var menu = document.getElementById('jobstates');
                	      if (jobstates == 'COMPLETED') {
                		        menu.options[1].selected = true;
                		        menu.selectedIndex = 1;
                	      } else if (jobstates == 'NON-COMPLETED') {
                		        menu.options[2].selected = true;
                		        menu.selectedIndex = 2;
                        } else {
                	          menu.options[0].selected = true;
                	          menu.selectedIndex = 0;
                        }
                    }
                    var eleshow = document.getElementById("jobsshow");
                    var elehide = document.getElementById("jobshide");
                    $(eleshow).show();
                    $(elehide).hide(); 
                    var jx = document.getElementsByClassName('jobshow');
                    for (var i = 0; i < jx.length; i++) {
                        var ele = jx[i];
                        $(ele).show();
                    } 
                    var jy = document.getElementsByClassName('jobhide');
                    for (var i = 0; i < jy.length; i++) {
                        var ele = jy[i];
                        $(ele).hide();
                    }
                    var x = document.getElementsByClassName('jsshow');
                    for (var i = 0; i < x.length; i++) {
        	              var ele = x[i];
        	              $(ele).show();
                    } 
                    var y = document.getElementsByClassName('jshide');
                    for (var i = 0; i < y.length; i++) {
                        var ele = y[i];
        	              $(ele).hide();
                    }

                    for (var i = 0; i < jh.length; i++) {
                        toggleJob(jh[i]);
                    }
                    for (var i = 0; i < jsh.length; i++) {
                        toggleJS(jsh[i]);
                    }
                    if (!scrollToHash()) {
                        var t = getURLParams('t'); 
                        for (var i = 0; i < t.length; i++) {
        	                  scrollToElem(t[i]);
        	                  removeURLKey('t');
                        }
                    }
                    if (calcPage) {
                        calcPage = false;
                        var nav = document.getElementById('alternatePageNav');
                        if (nav != null) {
                            var aPage =  nav.getAttribute('data-page');
                            if (aPage != null && aPage > 0) {
                            	  currentPage = aPage;
                            }
                            setHTMLParams();
                        }
                    }
                    hideLoader();
                    feather.replace(); 
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    hideLoader();
                    console.log(textStatus + errorThrown);
                    alert("Error: " + errorThrown);
                }
            });
        }
    }
};

</script>
<script>
// correct scroll due to "sticky" elements
var handler = function ( ) {
   var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
           + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
   window.scrollBy(0, h);
 };
 window.addEventListener('hashchange', handler);

 // Read the HTML parameters from URI and retrieve the corresponding data
 function loadWindow() {
     var elem = document.getElementById('sb-product-class');
     $(elem).addClass('active');
     feather.replace();
     readHTMLParams();
     setSelected();
     setParams(null, null, currentPage, pageSize);
     calcPage = true;
     retrieveData();
 };
 
 window.onload = function () {
     loadWindow();
     // correct scroll due to "sticky" elements
     var handler = function ( ) {
         var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
                  + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
         window.scrollBy(0, h);
     };        
 };
 // re-load window to read and set all HTML parameters
 $(window).on('popstate', function (e) {
   loadWindow();
 });
</script>

</html>
