<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="hyphens: auto;word-break: break-word;">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="#{productarchive} + ' | ' + #{proseo}">proseo</title>

        <!-- Bootstrap core CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom styles for prosEO -->
<link href="../static/fragments/proseo.css"
	th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="../static/fragments/bootstrap-multiselect.css"
	th:href="@{/fragments/bootstrap-multiselect.css}" type="text/css" />
</head>

<body>
	<header>
		<nav id="proseo-nav"
			class="navbar navbar-expand-lg bg-body-tertiary bg-light fixed-top shadow no-padding">
			<div class="container-fluid no-padding">
				<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
					href="/"><img src="proseo_logo.png" class="rounded" width="50"
					height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>
				<button class="navbar-toggler position-absolute d-md-none collapsed"
					type="button" data-toggle="collapse" data-target="#sidebarMenu"
					aria-controls="sidebarMenu" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<ul class="navbar-nav mr-auto navbar-left">
					<li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
							th:text="${missioncode}">mission</span></a></li>
					<li class="p-breadcrumb-item" aria-current="page"><span
						th:text="#{productarchive}">productarchive</span></li>
				</ul>
				<div th:replace="~{fragments/navbar.html :: navbarRight}"></div>
			</div>
		</nav>
	</header>
	<div style="display: none;" class="loading">
		<div class="loader"></div>
	</div>

	<div th:replace="~{fragments/sidebar.html :: sidebarMenu}"></div>
	<div class="container-fluid bg-body proseo-body">
		<!-- Show an error message if the user is not authorized to view productarchives -->
		<main th:unless="${hasroleproductarchivereader}" role="main"
			class="col-auto px-md-4">
			<h5 class="FAILED">
				<br> <span th:text="#{noroleright}"></span> <br>&nbsp;
			</h5>
		</main>

		<!-- Show productarchives if the user is authorized -->
		<main th:if="${hasroleproductarchivereader}" role="main"
			class="col-auto px-md-4">

			<div th:if="${errormsg != null}" id="errormsg" class="FAILED">
				<h5>
					<br> <span th:text="${errormsg}"></span>
				</h5>
			</div>


			<!-- Filter productarchives -->
			<form id="productarchiveFilters">
				<div class="row py-lg-1">

					<!-- Filter id -->
					<div class="col-1 pe-lg-0" th:title="#{selectId}">
						<p class="input-group-text word-wrap" th:text="#{id}"></p>
					</div>
					<div class="col-2 ps-lg-0" th:title="#{selectId}">
						<input type="number" class="form-control" name="id" id="id">
					</div>

					<!-- Filter name -->
					<div class="col-2 pe-lg-0" th:title="#{selectNamePattern}">
						<p class="input-group-text word-wrap"
							th:text="#{productarchive-name}"></p>
					</div>
					<div class="col-3 ps-lg-0" th:title="#{selectNamePattern}">
						<input type="text" class="form-control" name="name" id="name">
					</div>

					<!-- Filter archiveType -->
					<div class="col-2 pe-lg-0" th:title="#{selectArchiveType}">
						<p class="input-group-text word-wrap"
							th:text="#{productarchive-archive-type}"></p>
					</div>


					<div class="col-2 ps-lg-0" th:title="#{selectArchiveType}">
						<select name="archiveType" id="archiveType" class="form-select">
							<!-- multiple="multiple" class="form-select" -->
							<option text="" label=""></option>
							<option text="AIP" label="AIP">AIP</option>
							<option text="AUXIP" label="AUXIP">AUXIP</option>
							<option text="PODIP" label="PODIP">PODIP</option>
							<option text="PRIP" label="PRIP">PRIP</option>
							<option text="SIMPLEAIP" label="SIMPLEAIP">SIMPLEAIP</option>
						</select>
					</div>


				</div>
				<div class="row py-lg-1">

					<!-- Submit button -->
					<div class="col-3">
						<button type="submit" class="btn btn-sm btn-outline-secondary">
							<span th:text="#{productarchive-show}"></span>
						</button>
					</div>

				</div>
			</form>

			<!-- The actual productarchiv table -->
			<div id="productarchivecontent" name="productarchivecontent">

				<table class="table" id="productarchiveTable">

					<!-- Table header (parts that are always visible) -->
					<thead class="thead-proseo" id="proseo-thead">
						<tr>
							<th><span>&nbsp;</span></th>
							<th><span th:text="#{id}">id</span></th>
							<th><span th:text="#{productarchive-code}">code</span></th>
							<th><span th:text="#{productarchive-name}">name</span></th>
							<th><span th:text="#{productarchive-archive-type}">archiveType</span></th>
							<th><span th:text="#{productarchive-base-uri}">baseUri</span></th>

						</tr>
					</thead>

					<div th:unless="${productarchives} == null">
						<div th:each="productarchive : ${productarchives}">

							<!-- productarchive content that is always visible -->
							<tbody>
								<tr>
									<td th:id="'togglepa' + ${productarchive.id}"
										class="cursorpointer first-row no-right-border"
										th:onclick="'toggleProductArchive('+${productarchive.id}+')'">
										<div class="hideproductarchive"
											th:id="'hidepa' + ${productarchive.id}"
											th:title="#{hideProductArchiveDetails}"
											th:style="${'display: none;'}">
											<span data-feather="minus-circle"></span>
										</div>
										<div class="showproductarchive"
											th:id="'showpa' + ${productarchive.id}"
											th:title="#{showProductArchiveDetails}"
											th:style="${'display: block;'}">
											<span data-feather="plus-circle"></span>
										</div>
									</td>
									<td class="cursorpointer first-row no-left-border"
										th:onclick="'toggleProductArchive('+${productarchive.id}+')'"
										th:text="${productarchive.id}"></td>
									<td class="first-row" th:text="${productarchive?.code}"></td>
									<td class="first-row" th:text="${productarchive?.name}"></td>
									<td class="first-row" th:text="${productarchive?.archiveType}"></td>
									<td class="first-row" th:text="${productarchive?.baseUri}"></td>

								</tr>
							</tbody>

							<!-- productarchive headers and content that can be hidden -->
							<tbody class="filtercontent"
								th:id="'pacontent'+${productarchive.id}">

								<!-- Table header (parts that are hidden by default) -->
								<tr class="th-row">
									<th class="tr-rowspan"><span>&nbsp;</span></th>
									<th><span th:text="#{productarchive-context}">context</span></th>
									<th><span th:text="#{productarchive-token-required}">tokenRequired</span></th>
									<th><span th:text="#{productarchive-token-uri}">tokenUri</span></th>
									<th><span th:text="#{username}">username</span></th>
								</tr>

								<!-- Hidden content -->
								<tr class="proseo-row-divider">
									<td class="tr-rowspan">&nbsp;</td>
									<td class="first-row" th:text="${productarchive?.context}"></td>
									<td class="first-row"
										th:text="${productarchive?.tokenRequired}"></td>
									<td class="first-row" th:text="${productarchive?.tokenUri}"></td>
									<td class="first-row" th:text="${productarchive?.username}"></td>
								</tr>

								<!-- More hidden table headers -->
								<tr class="th-row">
									<th class="tr-rowspan"><span>&nbsp;</span></th>
									<th><span th:text="#{password}">password</span></th>
									<th><span th:text="#{productarchive-client-id}">clientId</span></th>
									<th><span th:text="#{productarchive-client-secret}">clientSecret</span></th>
									<th><span th:text="#{productarchive-send-auth-in-body}">sendAuthInBody</span></th>
								</tr>

								<!-- More hidden table content -->
								<tr class="proseo-row-divider">
									<td class="tr-rowspan">&nbsp;</td>

									<td class="first-row"><input
										th:id="'passwordinput' + ${productarchive?.id}"
										th:value="${productarchive?.password}" type="password"
										readonly></input> <a class="eye"
										th:id="'passwordeye' + ${productarchive?.id}"
										th:onclick="'showHidePassword(' + ${productarchive?.id} + ')'">
											<span data-feather="eye"></span>
									</a></td>

									<td class="first-row" th:text="${productarchive?.clientId}"></td>

									<td class="first-row"><input
										th:id="'clientsecretinput' + ${productarchive?.id}"
										th:value="${productarchive?.clientSecret}" type="password"
										readonly></input> <a class="eye"
										th:id="'clientsecreteye' + ${productarchive?.id}"
										th:onclick="'showHideClientSecret(' + ${productarchive?.id} + ')'">
											<span data-feather="eye"></span>
									</a></td>

									<td class="first-row"
										th:text="${productarchive?.sendAuthInBody}"></td>
								</tr>

								<!-- More hidden table headers -->
								<tr class="th-row">
									<th class="tr-rowspan"><span>&nbsp;</span></th>
									<th><span
										th:text="#{productarchive-available-product-classes}">availableProductClasses</span></th>
								</tr>

								<!-- More hidden table content -->
								<tr class="proseo-row-divider">
									<td class="tr-rowspan">&nbsp;</td>

									<td><a
										th:each="avail : ${productarchive?.availableProductClasses}"
										class="proseo-list-item"
										th:href="'/productclass-show?productClass=' + ${avail}"
										th:text="' ' + ${avail}"></a></td>
								</tr>

							</tbody>

						</div>
					</div>

				</table>

				<div th:replace="~{fragments/navbar.html :: alternatePageNav}"></div>
			</div>
			<div th:insert="~{fragments/footer.html :: footer}"></div>
		</main>

	</div>

</body>

<!-- Imports -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script
	src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
<script
	src="sha384-sha384-G/EV+4j2dNv+tEPo3+https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-sha384-G/EV+4j2dNvsha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="../static/fragments/proseo.js"
	th:src="@{/fragments/proseo.js}" type="text/javascript"></script>
<script src="../static/fragments/bootstrap-multiselect.js"
	th:src="@{/fragments/bootstrap-multiselect.js}" type="text/javascript"></script>

<script type="text/javascript" th:inline="javascript">
	function wikiPage() {
	    window.open('https://github.com/dlr-eoc/prosEO/wiki/GUI-Product-Archive#product-archive');
	}

		// Global variables
		var currentPage = 1; // Current page number
		var pageSize = 20; // Maximum objects per page
		
		// product archive filters
		var id = null;
		var wname = null;
		var archiveType = null;
		
		function showHideClientSecret(id) {
		      if (document.getElementById('clientsecretinput' + id).type == 'password' ) { 
		          document.getElementById('clientsecretinput' + id).type = 'text';
		          document.getElementById('clientsecreteye' + id).innerHTML = '<span data-feather="eye-off"></span>';
		          feather.replace();
		      } else {
			      document.getElementById('clientsecretinput' + id).type = 'password';
		          document.getElementById('clientsecreteye' + id).innerHTML = '<span data-feather="eye"></span>';
		          feather.replace();
		      }
	    };
	    
	    function showHidePassword(id) {
	        if (document.getElementById('passwordinput' + id).type == 'password' ) { 
	            document.getElementById('passwordinput' + id).type = 'text';
	            document.getElementById('passwordeye' + id).innerHTML = '<span data-feather="eye-off"></span>';
	            feather.replace();
	        } else {
	            document.getElementById('passwordinput' + id).type = 'password';
	            document.getElementById('passwordeye' + id).innerHTML = '<span data-feather="eye"></span>';
	            feather.replace();
	        }
	    };

	    function setParams(ele, selup, newPage, newPageSize) {
	        var newId = null;
	        var newName = null;
	        var newArchiveType = null;

	        var hasChanged = false;
	          
	        hasChanged |= setPageParams(newPage, newPageSize);
	        newId = $('#id').val();
	        if (isEmpty(newId)) {newId = null};
	        newName = $('#name').val();
	        if (isEmpty(newName)) {newName = null};

	        newArchiveType = $('#archiveType').val();

	        if (   id != newId
	            || wname != newName
	            || archiveType != newArchiveType) {
	          // table size may be changed, go to first page
	          currentPage = 1;
	          newPage = 1;
	          hasChanged = true;
	        }   
	        id = newId;
	        wname = newName;
	        archiveType = newArchiveType;
	        if (hasChanged) {
	            setHTMLParams();
	        }
	    }
	    
	    function setHTMLParams() {
	        var loc = location.search.slice(0);
	        var search = location.search.slice(1);
	        // build parameter string
	        var paramString = "";
	        paramString = addURLParamValuePrim('id', id, paramString);
	        paramString = addURLParamValuePrim('name', wname, paramString);
	        paramString = addURLParamValuePrim('archiveType', archiveType, paramString);
	        paramString = setPageHTMLParams(paramString);
	        var newHref = location.origin + location.pathname + paramString;
	        if (newHref != location.href) {
	            history.pushState({}, null, newHref);
	        }
	    }

	    function readHTMLParams() {
	        readPageHTMLParams();
	        id = getURLParam('id');
	        wname = getURLParam('name');
	        archiveType = getURLParam('archiveType');
	    }
	    function setSelected() {
	          $('#id').val(id);
	          $('#name').val(wname);
	          setSelectedOption('archiveType', archiveType);
	    }

	    function updateTable(newPage, newPageSize) {
	      setParams(null, null, newPage, newPageSize);
	      updateTablePrim(currentPage);
	    }
		// Function to fetch objects from the REST controller
		function updateTablePrim() {
			
			var url = "/productarchive/get";

      var divider = "?";
      var from = getFromRow();
      var to = getToRow();     
      if (parameterHasValue(from)) {
          url = url + divider + "recordFrom=" + from;
          divider = "&";
      }
      if (parameterHasValue(to)) {
          url = url + divider + "recordTo=" + to;
          divider = "&";
      }
									
			if (parameterHasValue(id))
				url = url + divider + "id=" + id;
        divider = "&";
			
			if (parameterHasValue(wname))
				url = url + divider + "name=" + wname;
        divider = "&";
					
			if (parameterHasValue(archiveType))
				url = url + divider + "archiveType=" + archiveType;
        divider = "&";
			
			console.log(url);
			
			fetch(url)
			  .then(response => response.text()) // Extract the response body as text
			  .then(html => {
				  $("#productarchivecontent").html(html); // Set the HTML content of the element
				  feather.replace(); // Display the arrows on the buttons
		      readHTMLParams();
		      setSelected();
          document.getElementById("pageSizeField").value = pageSize; //Display correct page size
        })
			  .catch(console.error);
		}
		
		// Function to fetch and apply filters
		function setFilters(event) {	
			  // Allow for custom form handling
			  event.preventDefault();
		    // Update the table according to the new filters
		    updateTable(null, null);
		}
		
		// Function to hide or show product archive details
	    function toggleProductArchive(id) {
		      var content = document.getElementById("pacontent" + id);
		      var eleshow = document.getElementById("showpa" + id);
		      var elehide = document.getElementById("hidepa" + id);
		      $(content).toggleClass("filtercontent");
		      if ($(content).css("display") === "none") {
		          $(eleshow).show();
		          $(elehide).hide();
		      } else {
		          $(eleshow).hide();
		          $(elehide).show();
		      }
		  }
		
	</script>

<script>
    // correct scroll due to "sticky" elements
    var handler = function ( ) {
       var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
               + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
       window.scrollBy(0, h);
     };
     window.addEventListener('hashchange', handler);

     // Read the HTML parameters from URI and retrieve the corresponding data
     function loadWindow() {
    	   activateSidebarElem('sb-productarchive');
         feather.replace();
         readHTMLParams();
         setSelected();
         updateTable(currentPage, pageSize);
     };
     
     window.onload = function () {
         loadWindow();
         // correct scroll due to "sticky" elements
         var handler = function ( ) {
             var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
                      + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
             window.scrollBy(0, h);
         };        
     };
     // re-load window to read and set all HTML parameters
     $(window).on('popstate', function (e) {
       loadWindow();
     });
	</script>

</html>
