<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="#{product-class} + ' | ' + #{proseo}">proseo</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous" />

          <!-- Custom styles for prosEO -->
          <link href="../static/fragments/proseo.css" th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
          <link rel="stylesheet" href="../static/fragments/bootstrap-multiselect.css" th:href="@{/fragments/bootstrap-multiselect.css}" type="text/css"/>
  </head>

  <body>
    <div style="display:none;" class="loading">
      <div class="loader"></div>
    </div>
    <nav id="proseo-nav"
      class="navbar bg-light fixed-top flex-md-nowrap p-0 shadow navbar-expand-md">
      <div class="container-fluid pl-0 pr-0">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
          href="/"><img src="proseo_logo.png" class="rounded" width="50"
            height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed"
          type="button" data-toggle="collapse" data-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
                th:text="${missioncode}">mission</span></a></li>
          <li class="p-breadcrumb-item"><span
                th:text="#{product-class}">product-class</span></li>
        </ul>
        <div th:replace="fragments/navbar.html :: navbarRight"></div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div th:insert="fragments/sidebar.html :: sidebarMenu"></div>
      <div class="proseo-top-div"></div>

        <main th:unless="${hasroleproductclassreader}" role="main"
        class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <h5 class="FAILED">
          <br> <span th:text="#{noroleright}"></span> (PRODUCTCLASS_READER) <br>&nbsp;
        </h5>
      </main>
      <main th:if="${hasroleproductclassreader}" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div th:if="${errormsg != null}" id="errormsg" name="errormsg" class="FAILED">
          <h5>
            <br> <span th:text="${errormsg}"></span></h5>
        </div>
        <form class="needs-validation" name="prod-shw" id="prod-shw" action="javascript:submit();" >
        <div class="row py-lg-1">
            <div class="col-2 pr-lg-0">
              <p class="input-group-text word-wrap"
                th:text="#{product-class}"></p>
            </div>
            <div class="col-3 pl-lg-0">
              <select name="productClasses" id="productClasses" multiple="multiple">
                <option th:each="obj : ${productclassnames}" th:text="${obj}"
                  th:label="${obj}"></option>
              </select>
            </div>
            <div class="col-2 pr-lg-0">
              <p class="input-group-text word-wrap"
                th:text="#{processor-class}"></p>
            </div>
            <div class="col-3 pl-lg-0">
              <select name="processorClasses" id="processorClasses" multiple="multiple">
                <option th:each="obj : ${processorclassnames}" th:text="${obj}"
                  th:label="${obj}"></option>
              </select>
            </div>
          </div>
          <div class="row py-lg-1">
            <div class="col-2">
              <button id="productclassselect" type="submit"
                    onclick="submit();"
                    class="btn btn-sm btn-outline-secondary">
                    <span th:text="#{product-class-show}"></span>
              </button>
            </div>
            <div class="col-1 pr-lg-0">
              <p class="input-group-text word-wrap"
                th:text="#{processinglevel}"></p>
            </div>
            <div class="col-2 pl-lg-0"><select name="processingLevel" id="processingLevel"
                  class="custom-select">
                <option text=""
                  label=""></option>
                <option th:each="obj : ${processinglevels}" th:text="${obj}"
                  th:label="${obj}"></option>
                </select>
            </div>
            <div class="col-1 pr-lg-0">
              <p class="input-group-text word-wrap"
                th:text="#{visibility}"></p>
            </div>
            <div class="col-2 pl-lg-0">
              <select name="visibility" id="visibility"
                  class="custom-select">
                <option text=""
                  label=""></option>
                <option th:each="obj : ${visibilities}" th:text="${obj}"
                  th:label="${obj}"></option>
                </select>
            </div>
            
          </div>
          
        </form>
      
          <div id="productclasscontent" name="productclasscontent">
              <table class="table table-hover rounded" id="productclassTable">
                <thead class="thead-proseo" id="proseo-thead">
                  <tr>
                    <th colspan="2"><span th:text="#{id}">id</span></th>
                    <th><span th:text="#{producttype}">producttype</span></th>
                    <th><span th:text="#{processinglevel}">processinglevel</span></th>
                    <th><span th:text="#{description}">typedescription</span></th>
                    <th><span th:text="#{enclosingclass}">enclosingclass</span></th>
                    <th><span th:text="#{processorclass}">processorclass</span></th>
                    <th><span th:text="#{productfiletemplate}">productfiletemplate</span></th>
                  </tr>
                </thead>
            <div  th:unless="${productclasses} == null">
            <div th:each="class : ${productclasses}">
							<tbody>
								<tr th:id="${class?.productType}">
									<td th:id="'toggleprod' + ${class?.id}"
										class="cursorpointer first-row no-right-border"
										th:onclick="'toggleProd(' + ${class?.id} + ')'"><div
											class="prodhide" th:id="'prodh' + ${class?.id}">
											<span data-feather="minus-circle"></span>
										</div>
										<div class="prodshow" th:id="'prods' + ${class?.id}">
											<span data-feather="plus-circle"></span>
										</div></td>
									<td th:id="${class?.id}" th:name="${class?.productType}" th:text="${class?.id}"
										class="cursorpointer first-row no-left-border"
										th:onclick="'toggleProd(' + ${class?.id} + ')'"></td>
									<td class="first-row"><a
                    th:if="${hasroleproductreader}"
                    th:href="'/product-show?productClass=' + ${class?.productType}"
                    th:text="${class?.productType}"></a><span
                    th:unless="${hasroleproductreader}"
                    th:text="${class?.productType}"></span></td>
									<td th:text="${class?.processingLevel}" class="first-row"></td>
									<td th:text="${class?.typeDescription}" class="first-row"></td>
									<td class="first-row"><a
										th:href="'/productclass-show?productClass=' + ${class?.enclosingClass}"><span
											th:text="${class?.enclosingClass}"></span></a></td>
									<td class="first-row"><a
									  th:if="${hasroleprocessorreader}"
										th:href="'/processor-class-show?productClass=' + ${class?.processorClass}"><span
											th:text="${class?.processorClass}"></span></a><span
                      th:unless="${hasroleprocessorreader}"
                      th:text="${class?.processorClass}"></span></td>
									<td class="first-row"><textarea
											th:if="${class?.productFileTemplate} != null"
											class="mission-template" readonly wrap="soft"
											th:style="${#strings.isEmpty(class?.productFileTemplate)?'height:1em':'height:3em'}"
											th:rows="${#strings.isEmpty(class?.productFileTemplate)?'0':'3'}"
											th:text="${class?.productFileTemplate}"></textarea></td>
								</tr>
							</tbody>
							<tbody class="filtercontent" th:id="'prodcont' + ${class?.id}">
								<tr class="th-row">
									<th class="tr-rowspan"><span>&nbsp;</span></th>
									<th><span th:text="#{visibility}">visibility</span></th>
									<th><span th:text="#{defaultslicingtype}">defaultslicingtype</span></th>
									<th><span th:text="#{defaultslicingduration}">defaultslicingduration</span></th>
									<th colspan="2"><span th:text="#{componentclasses}">componentclasses</span></th>
									<th colspan="2"><span th:text="#{selectionrules}">selectionrules</span></th>
								</tr>


								<tr class="proseo-row-divider">
									<td class="tr-rowspan">&nbsp;</td>
									<td th:text="${class?.visibility}"></td>
									<td th:text="${class?.defaultSlicingType}"></td>
									<td th:text="${class?.defaultSliceDuration}"></td>
									<td colspan="2"><a
										th:each="comp : ${class?.componentClasses}"
										class="proseo-list-item" th:href="'/productclass-show?productClass=' + ${comp}"><span
											th:text="${comp}"></span></a></td>
									<td colspan="2">
										<table class="table table-hover  rounded"
											th:if="${not #lists.isEmpty(class?.sortedSelectionRules)}">
											<thead>
												<tr class="th-row">
													<th><span th:text="#{mode}">mode</span></th>
													<th><span th:text="#{selectionrules}">selectionrules</span></th>
													<th><span th:text="#{configuredprocessors}">configuredprocessors</span></th>
												</tr>
											</thead>
											<div th:each="modeRules : ${class?.sortedSelectionRules}">
												<tbody th:each="rule,iterStat : ${modeRules?.selRules}">
													<tr>
														<td th:if="${iterStat.first} == true"
															th:text="${modeRules?.mode}"></td>
														<td th:if="${iterStat.first} == false" class="tr-rowspan"><span>&nbsp;</span></td>
														<td><span class="no-wrap"
															th:each="word,i : ${#strings.arraySplit(rule?.ruleString,' ')}"><span
																th:if="${i.first} == false">&nbsp;</span><span
																th:if="${i.count} != 2" class="code" th:text="${word}"></span><a
																th:if="${i.count} == 2" th:href="'/productclass-show?productClass=' + ${word}"><span
																	class="code" th:text="${word}"></span></a></span></td>
														<td><a
														  th:if="${hasroleprocessorreader}"
															th:each="acp : ${rule?.applicableConfiguredProcessors}"
															class="proseo-list-item"
															th:href="'/configured-processor-show?cp=' + ${acp}"
															th:text="${acp}"></a><span
                              th:unless="${hasroleprocessorreader}"
                              th:each="acp : ${rule?.applicableConfiguredProcessors}"
                              class="proseo-list-item"
                              th:text="${acp}"></span></td>
													</tr>
												</tbody>
											</div>
										</table>
									</td>
								</tr>
							</tbody>
						</div>
						</div>
          </table>
          <div th:replace="fragments/navbar.html :: pagenav"></div>
          </div>
          
          <div th:insert="fragments/footer.html :: footer"></div>
        </main>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="../static/fragments/proseo.js" th:src="@{/fragments/proseo.js}" type="text/javascript"></script>   
  <script src="../static/fragments/bootstrap-multiselect.js" th:src="@{/fragments/bootstrap-multiselect.js}" type="text/javascript"></script>

  <script type="text/javascript" th:inline="javascript">   
    function toggleProd(id) {
	      var content = document.getElementById("prodcont" + id);
	      var eleshow = document.getElementById("prods" + id);
	      var elehide = document.getElementById("prodh" + id);
	      $(content).toggleClass("filtercontent");
	      if ($(content).css("display") === "none") {
	          $(eleshow).show();
	          $(elehide).hide();
	      } else {
	          $(eleshow).hide();
	          $(elehide).show();
	      }
	  }
function openProd(id) {
	  var content = document.getElementById("prodcont" + id);
	  var eleshow = document.getElementById("prods" + id);
	  var elehide = document.getElementById("prodh" + id);
	  if ($(content).css("display") === "none") {
	      $(content).toggleClass("filtercontent");
	      $(eleshow).hide();
	      $(elehide).show();
	  }
}
function initPlusMinus() {
    var x = document.getElementsByClassName('prodshow');
    for (var i = 0; i < x.length; i++) {
        var ele = x[i];
        $(ele).show();
    } 
    var y = document.getElementsByClassName('prodhide');
    for (var i = 0; i < y.length; i++) {
        var ele = y[i];
        $(ele).hide();
    }
}

function setSelected() {
	  var cls = getURLParams('productClass');
	  if (cls != null && cls.length > 0) {
	    $('#productClasses').multiselect('select', getURLParams('productClass'));
	  }
	  cls = getURLParams('processorClass');
	  if (cls != null && cls.length > 0) {
	    $('#processorClasses').multiselect('select', getURLParams('processorClass'));
	  }
  setSelectedOption('processingLevel', getURLParam('level'));
  setSelectedOption('visibility', getURLParam('visibility'));
}


function submit() {
    retrieveDataPage(0, 15);
}

function setParams() {
    var loc = location.search.slice(0);
    var search = location.search.slice(1);
    var paramString = search;
    search = removeURLKeyPrim('productClass', search);
    search = removeURLKeyPrim('processorClass', search);
    search = removeURLKeyPrim('level', search);
    search = removeURLKeyPrim('visibility', search);
    var searchTmp = addURLParamValuesPrim('productClass', $('#productClasses').val(), search);
    if (searchTmp != null) {search = searchTmp};
    searchTmp = addURLParamValuesPrim('processorClass', $('#processorClasses').val(), search);
    if (searchTmp != null) {search = searchTmp};
    searchTmp = addURLParamValuePrim('level', $('#processingLevel').val(), search);
    if (searchTmp != null) {search = searchTmp};
    searchTmp = addURLParamValuePrim('visibility', $('#visibility').val(), search);
    if (searchTmp != null) {search = searchTmp};
    if (search != loc) {
        history.pushState({info: search}, null, search);
    }
}

function retrieveDataPage(from, to) {
		var productClass = getURLParam('pc');
		if (productClass != null) {
			  from = null;
			  to = null;
		} else {
      setParams();
      productClasses = getURLParams('productClass');
      var productClass = null;
      if (productClasses != null && productClasses.length > 0) {
        productClass = "";
        var divider = "";
        for (var i = 0; i < productClasses.length; i++) {
          productClass = productClass + divider + productClasses[i];
          divider = ",";
        }     
      }
      var processorClasses = getURLParams('processorClass');
      var processorClass = null;
      if (processorClasses != null && processorClasses.length > 0) {
    	  processorClass = "";
        var divider = "";
        for (var i = 0; i < processorClasses.length; i++) {
        	processorClass = processorClass + divider + processorClasses[i];
          divider = ",";
        }     
      }
    }
    var level = getURLParam('level');
    var visibility = getURLParam('visibility');
	  retrieveData(productClass, processorClass, level, visibility, from, to);
}
function retrieveData(productClass, processorClass, level, visibility, from, to) {
    if ([[${hasroleproductclassreader}]]) {
        showLoader();
        $('#productClasses').multiselect({
            buttonWidth : '99%',
            enableFiltering : true,
            numberDisplayed : 0,
            maxHeight : 400,
            enableCaseInsensitiveFiltering : true,
            nonSelectedText : ''
        });
        $('#processorClasses').multiselect({
            buttonWidth : '99%',
            enableFiltering : true,
            numberDisplayed : 0,
            maxHeight : 400,
            enableCaseInsensitiveFiltering : true,
            nonSelectedText : ''
        });
        var tableRows = $("productclassTable").rows;
        if (tableRows > 1 && tableRows != null) {
            $("productclassTable > tbody").empty();
        }
        var url = "/productclass/get";
        var divider = "?";

        if (productClass != null) {
            url = url + divider + "productClass=" + productClass.toString().trim();
            divider = "&";
        }
        if (processorClass != null) {
            url = url + divider + "processorClass=" + processorClass.toString().trim();
            divider = "&";
        }
        if (level != null) {
            url = url + divider + "level=" + level;
            divider = "&";
        }
        if (visibility != null) {
            url = url + divider + "visibility=" + visibility;
            divider = "&";
        }
			  if (from != null) {
					  url = url + divider + "recordFrom=" + from;
					  divider = "&";
				}
				if (to != null) {
					  url = url + divider + "recordTo=" + to;
					  divider = "&";
				}

				$.ajax({
					  url : url,
					  method : "GET",
					  success : function(res, textStatus, jqXHR) {
						    $("#productclasscontent").html(res);
						    initPlusMinus();
						    feather.replace();
					        $('#productClasses').multiselect({
					            buttonWidth : '99%',
					            enableFiltering : true,
					            numberDisplayed : 0,
					            maxHeight : 400,
					            enableCaseInsensitiveFiltering : true,
					            nonSelectedText : ''
					        });
					        $('#processorClasses').multiselect({
					            buttonWidth : '99%',
					            enableFiltering : true,
					            numberDisplayed : 0,
					            maxHeight : 400,
					            enableCaseInsensitiveFiltering : true,
					            nonSelectedText : ''
					        });
			          setSelected();
			          hideLoader();
                if (productClass != null) {
                    scrollToElem(productClass);
                    var elems = document.getElementsByName(productClass);
                    var id = null;
                    if (elems != null && elems.length > 0) {
                	      id = elems[0].getAttribute("id");
                	      if (id != null) {
                            openProd(id);
                	      }
                    }
                }
					  },
					  error : function(jqXHR, textStatus, errorThrown) {
                hideLoader();
                console.log(textStatus + errorThrown);
                alert("Error: " + errorThrown);
            }
				});
		}
};
</script>
<script>
window.onpopstate = function(event) {
	if (location.toString().charAt(location.toString().length-1) != '#') {
    document.location.reload();
	}
};
    window.onload = function () {
     // $('.collapse').collapse();
     var elem = document.getElementById('sb-product-class');
     $(elem).addClass('active');
     feather.replace();
     setSelected();
     retrieveDataPage(0, 15);
     
     // correct scroll due to "sticky" elements
     var handler = function ( ) {
    	 var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
    			      + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
    	  window.scrollBy(0, h);
    	};
    	window.addEventListener('hashchange', handler);
    }
</script>

</html>
