
            <style>
              .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              }

              .progress {
              width: 150px;
              height: 150px;
              background: none;
              position: relative;
              }

              .progress::after {
              content: "";
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 6px solid #eee;
              position: absolute;
              top: 0;
              left: 0;
              }

              .progress>span {
              width: 50%;
              height: 100%;
              overflow: hidden;
              position: absolute;
              top: 0;
              z-index: 1;
              }

              .progress .progress-left {
              left: 0;
              }

              .progress .progress-bar {
              width: 100%;
              height: 100%;
              background: none;
              border-width: 6px;
              border-style: solid;
              position: absolute;
              top: 0;
              }

              .progress .progress-left .progress-bar {
              left: 100%;
              border-top-right-radius: 80px;
              border-bottom-right-radius: 80px;
              border-left: 0;
              -webkit-transform-origin: center left;
              transform-origin: center left;
              }

              .progress .progress-right {
              right: 0;
              }

              .progress .progress-right .progress-bar {
              left: -100%;
              border-top-left-radius: 80px;
              border-bottom-left-radius: 80px;
              border-right: 0;
              -webkit-transform-origin: center right;
              transform-origin: center right;
              }

              .progress .progress-value {
              position: absolute;
              top: 0;
              left: 0;
              }

            </style>
            <!-- 
            <div class="row">
              <div class="col-md-3">
                <div class="bg-white rounded-lg p-5 shadow">
                  <h2 class="h6 font-weight-bold text-center mb-4">Completed
                    Orders</h2>

                  Progress bar 1
                  <div class="progress mx-auto" data-value='80'>
                    <span class="progress-left"> <span
                        class="progress-bar border-primary"></span>
                    </span> <span class="progress-right"> <span
                        class="progress-bar border-primary"></span>
                    </span>
                    <div
                      class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                      <div class="h2 font-weight-bold">
                        80<sup class="small">%</sup>
                      </div>
                    </div>
                  </div>
                  END

                  Demo info
                  <div class="row text-center mt-4">
                    <div class="col-6 border-right">
                      <div class="h4 font-weight-bold mb-0">30%</div>
                      <span class="small text-gray">Last 3 days</span>
                    </div>
                    <div class="col-6">
                      <div class="h4 font-weight-bold mb-0">80%</div>
                      <span class="small text-gray">Last Week</span>
                    </div>
                  </div>
                  END
                </div>
              </div>

              <div class="col-md-3">
                <div class="bg-white rounded-lg p-5 shadow">
                  <h2 class="h6 font-weight-bold text-center mb-4">Errors</h2>

                  Progress bar 2
                  <div class="progress mx-auto" data-value='15'>
                    <span class="progress-left"> <span
                        class="progress-bar border-danger"></span>
                    </span> <span class="progress-right"> <span
                        class="progress-bar border-danger"></span>
                    </span>
                    <div
                      class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                      <div class="h2 font-weight-bold">
                        15<sup class="small">%</sup>
                      </div>
                    </div>
                  </div>
                  END

                  Demo info
                  <div class="row text-center mt-4">
                    <div class="col-6 border-right">
                      <div class="h4 font-weight-bold mb-0">5%</div>
                      <span class="small text-gray">Last 3 days</span>
                    </div>
                    <div class="col-6">
                      <div class="h4 font-weight-bold mb-0">60%</div>
                      <span class="small text-gray">Last Week</span>
                    </div>
                  </div>
                  END
                </div>
              </div>

              <div class="col-md-3">
                <div class="bg-white rounded-lg p-5 shadow">
                  <h2 class="h6 font-weight-bold text-center mb-4">Successful
                    Orders</h2>

                  Progress bar 3
                  <div class="progress mx-auto" data-value='90'>
                    <span class="progress-left"> <span
                        class="progress-bar border-success"></span>
                    </span> <span class="progress-right"> <span
                        class="progress-bar border-success"></span>
                    </span>
                    <div
                      class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                      <div class="h2 font-weight-bold">
                        90<sup class="small">%</sup>
                      </div>
                    </div>
                  </div>
                  END

                  Demo info
                  <div class="row text-center mt-4">
                    <div class="col-6 border-right">
                      <div class="h4 font-weight-bold mb-0">20%</div>
                      <span class="small text-gray">Last week</span>
                    </div>
                    <div class="col-6">
                      <div class="h4 font-weight-bold mb-0">70%</div>
                      <span class="small text-gray">Last month</span>
                    </div>
                  </div>
                  END
                </div>
              </div>

              <div class="col-md-3">
                <div class="bg-white rounded-lg p-5 shadow">
                  <h2 class="h6 font-weight-bold text-center mb-4">Notifications</h2>

                  Progress bar 4
                  <div class="progress mx-auto" data-value='12'>
                    <span class="progress-left"> <span
                        class="progress-bar border-warning"></span>
                    </span> <span class="progress-right"> <span
                        class="progress-bar border-warning"></span>
                    </span>
                    <div
                      class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                      <div class="h2 font-weight-bold">
                        12<sup class="small">%</sup>
                      </div>
                    </div>
                  </div>
                  END

                  Demo info
                  <div class="row text-center mt-4">
                    <div class="col-6 border-right">
                      <div class="h4 font-weight-bold mb-0">80%</div>
                      <span class="small text-gray">Last week</span>
                    </div>
                    <div class="col-6">
                      <div class="h4 font-weight-bold mb-0">20%</div>
                      <span class="small text-gray">Last month</span>
                    </div>
                  </div>
                  END
                </div>
              </div> -->