<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>DLR Mission</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<!-- Custom styles for prosEO -->
<link href="../static/fragments/proseo.css"
	th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.progress {
	width: 150px;
	height: 150px;
	background: none;
	position: relative;
}

.progress::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 6px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
}

.progress>span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}

.progress .progress-left {
	left: 0;
}

.progress .progress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 6px;
	border-style: solid;
	position: absolute;
	top: 0;
}

.progress .progress-left .progress-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
}

.progress .progress-right {
	right: 0;
}

.progress .progress-right .progress-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
}

.progress .progress-value {
	position: absolute;
	top: 0;
	left: 0;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>

<body>
  <nav
    class="navbar bg-light sticky-top flex-md-nowrap p-0 shadow navbar-expand-md">
    <div class="container-fluid pl-0 pr-0">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
        href="/"><img src="proseo_logo.png" class="rounded" width="50"
        height="50"></a>
      <button class="navbar-toggler position-absolute d-md-none collapsed"
        type="button" data-toggle="collapse" data-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav mr-auto navbar-left">
        <li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
            th:text="${missioncode}">mission</span></a></li>
        <li class="p-breadcrumb-item" aria-current="page"><span
          th:text="#{dashboard}">show</span></li>
      </ul>
      <div th:replace="fragments/navbar.html :: navbarRight"></div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div th:insert="fragments/sidebar.html :: sidebarMenu"></div>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
	<div class="container-fluid">
		<div class="alert alert-danger" role="alert">
			<p class="text-left">
				<a href="/order-show?O01541"> ERROR ORDER #01541!</a>
			</p>
		</div>
		<div class="alert alert-success" role="alert">
			<p class="text-left">
				<a href="/product-show?P8714"> CO2 8714 finished!</a>
			</p>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="bg-white rounded-lg p-5 shadow">
					<h2 class="h6 font-weight-bold text-center mb-4">Completed
						Orders</h2>

					<!-- Progress bar 1 -->
					<div class="progress mx-auto" data-value='80'>
						<span class="progress-left"> <span
							class="progress-bar border-primary"></span>
						</span> <span class="progress-right"> <span
							class="progress-bar border-primary"></span>
						</span>
						<div
							class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
							<div class="h2 font-weight-bold">
								80<sup class="small">%</sup>
							</div>
						</div>
					</div>
					<!-- END -->

					<!-- Demo info -->
					<div class="row text-center mt-4">
						<div class="col-6 border-right">
							<div class="h4 font-weight-bold mb-0">30%</div>
							<span class="small text-gray">Last 3 days</span>
						</div>
						<div class="col-6">
							<div class="h4 font-weight-bold mb-0">80%</div>
							<span class="small text-gray">Last Week</span>
						</div>
					</div>
					<!-- END -->
				</div>
			</div>

			<div class="col-md-3">
				<div class="bg-white rounded-lg p-5 shadow">
					<h2 class="h6 font-weight-bold text-center mb-4">Errors</h2>

					<!-- Progress bar 2 -->
					<div class="progress mx-auto" data-value='15'>
						<span class="progress-left"> <span
							class="progress-bar border-danger"></span>
						</span> <span class="progress-right"> <span
							class="progress-bar border-danger"></span>
						</span>
						<div
							class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
							<div class="h2 font-weight-bold">
								15<sup class="small">%</sup>
							</div>
						</div>
					</div>
					<!-- END -->

					<!-- Demo info-->
					<div class="row text-center mt-4">
						<div class="col-6 border-right">
							<div class="h4 font-weight-bold mb-0">5%</div>
							<span class="small text-gray">Last 3 days</span>
						</div>
						<div class="col-6">
							<div class="h4 font-weight-bold mb-0">60%</div>
							<span class="small text-gray">Last Week</span>
						</div>
					</div>
					<!-- END -->
				</div>
			</div>

			<div class="col-md-3">
				<div class="bg-white rounded-lg p-5 shadow">
					<h2 class="h6 font-weight-bold text-center mb-4">Successful
						Orders</h2>

					<!-- Progress bar 3 -->
					<div class="progress mx-auto" data-value='90'>
						<span class="progress-left"> <span
							class="progress-bar border-success"></span>
						</span> <span class="progress-right"> <span
							class="progress-bar border-success"></span>
						</span>
						<div
							class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
							<div class="h2 font-weight-bold">
								90<sup class="small">%</sup>
							</div>
						</div>
					</div>
					<!-- END -->

					<!-- Demo info -->
					<div class="row text-center mt-4">
						<div class="col-6 border-right">
							<div class="h4 font-weight-bold mb-0">20%</div>
							<span class="small text-gray">Last week</span>
						</div>
						<div class="col-6">
							<div class="h4 font-weight-bold mb-0">70%</div>
							<span class="small text-gray">Last month</span>
						</div>
					</div>
					<!-- END -->
				</div>
			</div>

			<div class="col-md-3">
				<div class="bg-white rounded-lg p-5 shadow">
					<h2 class="h6 font-weight-bold text-center mb-4">Notifications</h2>

					<!-- Progress bar 4 -->
					<div class="progress mx-auto" data-value='12'>
						<span class="progress-left"> <span
							class="progress-bar border-warning"></span>
						</span> <span class="progress-right"> <span
							class="progress-bar border-warning"></span>
						</span>
						<div
							class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
							<div class="h2 font-weight-bold">
								12<sup class="small">%</sup>
							</div>
						</div>
					</div>
					<!-- END -->

					<!-- Demo info -->
					<div class="row text-center mt-4">
						<div class="col-6 border-right">
							<div class="h4 font-weight-bold mb-0">80%</div>
							<span class="small text-gray">Last week</span>
						</div>
						<div class="col-6">
							<div class="h4 font-weight-bold mb-0">20%</div>
							<span class="small text-gray">Last month</span>
						</div>
					</div>
					<!-- END -->
				</div>
			</div>
		</div>
      <div th:insert="fragments/footer.html :: footer"></div>
      </main>
    </div>
    </div>
  </div>
</body>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script src="../static/fragments/proseo.js" th:src="@{/fragments/proseo.js}" type="text/javascript"></script>

  <script type="text/javascript">
    function retrieveData() {
      var tableRows = $("orderTable").rows;
      if (tableRows > 1 && tableRows != null) {
        $("orderTable > tbody").empty();
      }
      var mission = document.getElementById('orderid').value;
      if (mission == null) {
        mission = "";
      }
      var url = "/order-show/get?identifier=" + mission;
      var prop = document.getElementById('test');

      $.ajax({
        url : url,
        method : "GET",
        success : function(res) {
          $("#content").html(res);
        },
        fail : function(err) {
          console.log(err);
          prop.innerHTML = "Fehler!" + err;
        }

      });
    };
  </script>
<script>
    window.onload = function () {
     // $('.collapse').collapse();
     var elem = document.getElementById('sb-dashboard');
     $(elem).addClass('active');
     feather.replace();
     
    }
</script>
<script>
$(function() {

  $(".progress").each(function() {

    var value = $(this).attr('data-value');
    var left = $(this).find('.progress-left .progress-bar');
    var right = $(this).find('.progress-right .progress-bar');

    if (value > 0) {
      if (value <= 50) {
        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
      } else {
        right.css('transform', 'rotate(180deg)')
        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
      }
    }

  })

  function percentageToDegrees(percentage) {

    return percentage / 100 * 360

  }

});
</script>
</html>