<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="hyphens: auto;word-break: break-word;">

<head>
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="#{trigger} + ' | ' + #{proseo}">proseo</title>


        <!-- Bootstrap core CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Custom styles for prosEO -->
        <link href="../static/fragments/proseo.css"
          th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet"
          href="../static/fragments/bootstrap-multiselect.css"
          th:href="@{/fragments/bootstrap-multiselect.css}" type="text/css" />
</head>

<body>
  <header>
    <nav id="proseo-nav"
      class="navbar navbar-expand-lg bg-body-tertiary bg-light fixed-top shadow no-padding">
      <div class="container-fluid no-padding">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
          href="/"><img src="proseo_logo.png" class="rounded" width="50"
          height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed"
          type="button" data-toggle="collapse" data-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
              th:text="${missioncode}">mission</span></a></li>
          <li class="p-breadcrumb-item" aria-current="page"><span
            th:text="#{trigger}">trigger</span></li>
        </ul>
        <div th:replace="~{fragments/navbar.html :: navbarRight}"></div>
      </div>
    </nav>
  </header>
  <div style="display: none;" class="loading">
    <div class="loader"></div>
  </div>

  <div th:replace="~{fragments/sidebar.html :: sidebarMenu}"></div>
  <div class="container-fluid bg-body proseo-body">
    <!-- Show an error message if the user is not authorized to view triggers -->
    <main th:unless="${hasroleprocessorreader}" role="main"
      class="col-auto px-md-4">
      <h5 class="FAILED">
        <br> <span th:text="#{noroleright}"></span> (PROCESSOR_READER)
        <br>&nbsp;
      </h5>
    </main>

    <!-- Show triggers if the user is authorized -->
    <main th:if="${hasroleprocessorreader}" role="main"
      class="col-sm-auto px-md-4">

      <div th:if="${errormsg != null}" id="errormsg" class="FAILED">
        <h5>
          <br> <span th:text="${errormsg}"></span>
        </h5>
      </div>


      <!-- Filter triggers -->
      <form id="triggerFilters" 
          action="javascript:retrieveDataPrim();">
        <div class="row py-lg-1">

          <!-- Submit button -->
          <div class="col-3">
            <button type="submit" class="btn btn-sm btn-outline-secondary">
              <span th:text="#{trigger-show}"></span>
            </button>
          </div>

          <!-- Filter type -->
          <div class="col-1 pe-lg-0" th:title="#{selectTriggerType}">
            <p class="input-group-text word-wrap" th:text="#{type}"></p>
          </div>
          <div class="col-2 ps-lg-0" th:title="#{selectTriggerType}">
            <select name="type" id="type" class="form-select">
              <!-- multiple="multiple" class="form-select" -->
              <option text="" label=""></option>
              <option text="Calendar" label="Calendar">Calendar</option>
              <option text="DataDriven" label="DataDriven">DataDriven</option>
              <option text="Datatake" label="Datatake">Datatake</option>
              <option text="Orbit" label="Orbit">Orbit</option>
              <option text="TimeInterval" label="TimeInterval">TimeInterval</option>
            </select>
          </div>

          <!-- Filter name -->
          <div class="col-1 pe-lg-0" th:title="#{selectNamePattern}">
            <p class="input-group-text word-wrap" th:text="#{name}"></p>
          </div>
          <div class="col-3 ps-lg-0" th:title="#{selectNamePattern}">
            <input type="text" class="form-control" name="name" id="name">
          </div>

        </div>
     </form>

      <!-- The actual trigger table -->
      <div id="triggercontent" name="triggercontent">
        <table class="table" id="triggerTable">

          <!-- Table header (parts that are always visible) -->
          <thead class="thead-proseo" id="proseo-thead">
            <tr>
              <th><span>&nbsp;</span></th>
              <th onclick="selectSort('select-type')" class="cursorpointer"><span
                id="select-type" class="select-up"
                th:class="((${selcol} == 'id' ? ${selorder} : ''))"
                th:text="#{type}">type</span></th>
              <th onclick="selectSort('select-name')" class="cursorpointer"><span
                id="select-name" class="select-up"
                th:class="((${selcol} == 'id' ? ${selorder} : ''))"
                th:text="#{name}">name</span></th>
              <th><span th:text="#{priority}">priority</span></th>
              <th><span th:text="#{ordertemplatename}">ordertemplatename</span></th>
              <th><span th:text="#{executiondelay}">executiondelay</span></th>
              <th><span th:text="#{enabled}">enabled</span></th>
            </tr>
          </thead>

          <div th:unless="${triggers} == null">
            <div th:each="trigger : ${triggers}">

              <!-- Trigger content that is always visible -->
              <tbody>
                <tr>
                  <td th:if="${#strings.equals(trigger.type, 'Calendar')}" 
                    th:id="'togglewf' + ${trigger.type} + ${trigger.id}"
                    class="cursorpointer first-row no-right-border"
                    th:onclick="'toggleTriggerCalendar('+${trigger.id}+')'">
                    <div class="hidetrigger" th:id="'hidewf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{hideTriggerDetails}"
                      th:style="${'display: none;'}">
                      <span data-feather="minus-circle"></span>
                    </div>
                    <div class="showtrigger" th:id="'showwf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{showTriggerDetails}"
                      th:style="${'display: block;'}">
                      <span data-feather="plus-circle"></span>
                    </div>
                  </td>
                  <td th:if="${#strings.equals(trigger.type, 'DataDriven')}" 
                    th:id="'togglewf' + ${trigger.type} + ${trigger.id}"
                    class="cursorpointer first-row no-right-border"
                    th:onclick="'toggleTriggerDataDriven('+${trigger.id}+')'">
                    <div class="hidetrigger" th:id="'hidewf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{hideTriggerDetails}"
                      th:style="${'display: none;'}">
                      <span data-feather="minus-circle"></span>
                    </div>
                    <div class="showtrigger" th:id="'showwf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{showTriggerDetails}"
                      th:style="${'display: block;'}">
                      <span data-feather="plus-circle"></span>
                    </div>
                  </td>
                  <td th:if="${#strings.equals(trigger.type, 'Datatake')}" 
                    th:id="'togglewf' + ${trigger.type} + ${trigger.id}"
                    class="cursorpointer first-row no-right-border"
                    th:onclick="'toggleTriggerDatatake('+${trigger.id}+')'">
                    <div class="hidetrigger" th:id="'hidewf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{hideTriggerDetails}"
                      th:style="${'display: none;'}">
                      <span data-feather="minus-circle"></span>
                    </div>
                    <div class="showtrigger" th:id="'showwf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{showTriggerDetails}"
                      th:style="${'display: block;'}">
                      <span data-feather="plus-circle"></span>
                    </div>
                  </td>
                  <td th:if="${#strings.equals(trigger.type, 'Orbit')}" 
                    th:id="'togglewf' + ${trigger.type} + ${trigger.id}"
                    class="cursorpointer first-row no-right-border"
                    th:onclick="'toggleTriggerOrbit('+${trigger.id}+')'">
                    <div class="hidetrigger" th:id="'hidewf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{hideTriggerDetails}"
                      th:style="${'display: none;'}">
                      <span data-feather="minus-circle"></span>
                    </div>
                    <div class="showtrigger" th:id="'showwf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{showTriggerDetails}"
                      th:style="${'display: block;'}">
                      <span data-feather="plus-circle"></span>
                    </div>
                  </td>
                  <td th:if="${#strings.equals(trigger.type, 'TimeInterval')}" 
                    th:id="'togglewf' + ${trigger.type} + ${trigger.id}"
                    class="cursorpointer first-row no-right-border"
                    th:onclick="'toggleTriggerTimeInterval('+${trigger.id}+')'">
                    <div class="hidetrigger" th:id="'hidewf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{hideTriggerDetails}"
                      th:style="${'display: none;'}">
                      <span data-feather="minus-circle"></span>
                    </div>
                    <div class="showtrigger" th:id="'showwf' + ${trigger.type} + ${trigger.id}"
                      th:title="#{showTriggerDetails}"
                      th:style="${'display: block;'}">
                      <span data-feather="plus-circle"></span>
                    </div>
                  </td>
                  <td class="first-row" th:text="${trigger.type}"></td>
                  <td class="first-row" th:text="${trigger.name}"></td>
                  <td class="first-row" th:text="${trigger.priority}"></td>
                  <td class="first-row"><a 
                    th:href="'/order-template-show?name=' + ${trigger.orderTemplateName}"
                    th:text="${trigger.orderTemplateName}"></a></td>
                  <td class="first-row" th:text="${trigger.executionDelay}"></td>
                  <td class="first-row" th:text="${trigger.enabled}"></td>
                </tr>
              </tbody>

              <tbody  th:if="${#strings.equals(trigger.type, 'Calendar')}" 
                class="filtercontent" th:id="'wfcontent' + ${trigger.type} + ${trigger.id}">
                <tr class="th-row">
                  <th class="tr-rowspan"><span>&nbsp;</span></th>
                  <th><span th:text="#{cronexpression}">cronexpression</span></th>
                </tr>
                <tr class="proseo-row-divider">
                  <td class="tr-rowspan">&nbsp;</td>
                  <td class="first-row" th:text="${trigger.cronExpression}"></td>
                </tr>              
              </tbody>
              
              <tbody  th:if="${#strings.equals(trigger.type, 'DataDriven')}" 
                class="filtercontent" th:id="'wfcontent' + ${trigger.type} + ${trigger.id}">
                <tr class="th-row">
                  <th class="tr-rowspan"><span>&nbsp;</span></th>
                  <th><span th:text="#{inputproduct}">inputproduct</span></th>
                  <th><span th:text="#{inputfileclass}">inputfileclass</span></th>
                  <th><span th:text="#{inputprocessingmode}">inputprocessingmode</span></th>
                  <th><span th:text="#{parameterstocopy}">parameterstocopy</span></th>
                </tr>
                <tr class="proseo-row-divider">
                  <td class="tr-rowspan">&nbsp;</td>
                  <td class="first-row"><a
                      class="proseo-list-item"
                      th:href="'/productclass-show?productClass=' + ${trigger.inputProductType}"
                      th:text="${trigger.inputProductType}"></a></td>
                  <td class="first-row" th:text="${trigger.inputFileClass}"> 
                  <td class="first-row" th:text="${trigger.inputProcessingMode}"> 
                  <td class="first-row">
	                  <span th:each="comp : ${trigger.parametersToCopy}"
			                class="proseo-list-item"
			                th:text="' ' + ${comp}"></span>
			            </td>
                </tr>              
              </tbody>
              
              <tbody  th:if="${#strings.equals(trigger.type, 'Datatake')}" 
                class="filtercontent" th:id="'wfcontent' + ${trigger.type} + ${trigger.id}">
                <tr class="th-row">
                  <th class="tr-rowspan"><span>&nbsp;</span></th>
                  <th><span th:text="#{datataketype}">datataketype</span></th>
                  <th><span th:text="#{deltatime}">deltatime</span></th>
                  <th><span th:text="#{lastdatatakestarttime}">lastdatatakestarttime</span></th>
                  <th><span th:text="#{parameterstocopy}">parameterstocopy</span></th>
                </tr>
                <tr class="proseo-row-divider">
                  <td class="tr-rowspan">&nbsp;</td>
                  <td class="first-row" th:text="${trigger.datatakeType}"> 
                  <td class="first-row" th:text="${trigger.deltaTime}"> 
                  <td class="first-row" th:text="${trigger.lastDatatakeStartTime}"> 
                  <td class="first-row">
                    <span th:each="comp : ${trigger.parametersToCopy}"
                      class="proseo-list-item"
                      th:text="' ' + ${comp}"></span>
                  </td>
                </tr>              
              </tbody>
              
              <tbody  th:if="${#strings.equals(trigger.type, 'Orbit')}" 
                class="filtercontent" th:id="'wfcontent' + ${trigger.type} + ${trigger.id}">
                <tr class="th-row">
                  <th class="tr-rowspan"><span>&nbsp;</span></th>
                  <th><span th:text="#{spacecraftcode}">spacecraftcode</span></th>
                  <th><span th:text="#{lastorbitnumber}">lastorbitnumber</span></th>
                  <th><span th:text="#{deltatime}">deltatime</span></th>
                </tr>
                <tr class="proseo-row-divider">
                  <td class="tr-rowspan">&nbsp;</td>
                  <td class="first-row" th:text="${trigger.spacecraftCode}"> 
                  <td class="first-row" th:text="${trigger.lastOrbitNumber}"> 
                  <td class="first-row" th:text="${trigger.deltaTime}"> 
                </tr>              
              </tbody>
              
              <tbody  th:if="${#strings.equals(trigger.type, 'TimeInterval')}" 
                class="filtercontent" th:id="'wfcontent' + ${trigger.type} + ${trigger.id}">
                <tr class="th-row">
                  <th class="tr-rowspan"><span>&nbsp;</span></th>
                  <th><span th:text="#{nexttriggertime}">nexttriggertime</span></th>
                  <th><span th:text="#{triggerinterval}">triggerinterval</span></th>
                </tr>
                <tr class="proseo-row-divider">
                  <td class="tr-rowspan">&nbsp;</td>
                  <td class="first-row" th:text="${trigger.nextTriggerTime}"></td>
                  <td class="first-row" th:text="${trigger.triggerInterval}"> 
                </tr>              
              </tbody>

            </div>
          </div>

        </table>

        <div th:replace="~{fragments/navbar.html :: alternatePageNav}"></div>
      </div>
      <div th:insert="~{fragments/footer.html :: footer}"></div>
    </main>

  </div>
</body>

<!-- Imports -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script
  src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script
  src="sha384-sha384-G/EV+4j2dNv+tEPo3+https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-sha384-G/EV+4j2dNvsha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="../static/fragments/proseo.js"
  th:src="@{/fragments/proseo.js}" type="text/javascript"></script>
<script src="../static/fragments/bootstrap-multiselect.js"
  th:src="@{/fragments/bootstrap-multiselect.js}" type="text/javascript"></script>

<script type="text/javascript" th:inline="javascript">
  function wikiPage() {
      window.open('https://github.com/dlr-eoc/prosEO/wiki/GUI-Trigger#trigger');
  }

    // Global variables
    var currentPage = 1; // Current page number
    var pageSize = 20; // Maximum objects per page
    
    // Trigger filters
    var wname = null;
    var type = null;

    // sorting
    var sortCols = ['select-type', 'select-name'];
    var sortCol = "type";
    var upText = "true";

    function setParams(ele, selup, newPage, newPageSize) {
        var newName = null;
        var newType = null;

        var hasChanged = false;
          
        hasChanged |= setPageParams(newPage, newPageSize);
        hasChanged |= setSortParams(ele, selup);
        newName = $('#name').val();
        if (isEmpty(newName)) {newName = null};
        newType = $('#type').val();
        if (isEmpty(newType)) {newType = null};

        if (   wname != newName
            || type != newType) {
          // table size may be changed, go to first page
          currentPage = 1;
          newPage = 1;
          hasChanged = true;
        }   
        wname = newName;
        type = newType;
        if (hasChanged) {
            setHTMLParams();
        }
    }
    
    function setHTMLParams() {
        var loc = location.search.slice(0);
        var search = location.search.slice(1);
        // build parameter string
        var paramString = "";
        paramString = addURLParamValuePrim('name', wname, paramString);
        paramString = addURLParamValuePrim('type', type, paramString);
        paramString = setPageHTMLParams(paramString);
        paramString = setSortHTMLParams(paramString);
        var newHref = location.origin + location.pathname + paramString;
        if (newHref != location.href) {
            history.pushState({}, null, newHref);
        }
    }

    function readHTMLParams() {
        readPageHTMLParams();
        readSortHTMLParams();
        wname = getURLParam('name');
        type = getURLParam('type');
    }
    
    function setSelected() {
          $('#name').val(wname);
          $('#type').val(type);
    }

    function updateTable(newPage, newPageSize) {
      setParams(null, null, newPage, newPageSize);
      updateTablePrim(currentPage);
    }

    function retrieveDataPrim(notUsed) {
        setParams(null, null, null, null);
        updateTablePrim(currentPage);
    }
    
    // Function to fetch objects from the REST controller
    function updateTablePrim(newPage) {
      currentPage = newPage;
      
      var recordFrom = (currentPage - 1) * pageSize;
      var recordTo = currentPage * pageSize;      
      
      var url = "/trigger/get?recordFrom=" + recordFrom 
          + "&recordTo=" + recordTo 
          + "&currentPage=" + currentPage 
          + "&pageSize=" + pageSize
          + "&sortby=" + sortCol.replace("select-", "")
          + "&up=" + upText;
      
      if (parameterHasValue(wname))
        url += "&name=" + wname;
          
      if (parameterHasValue(type))
        url += "&type=" + type;

      console.log(url);
      
      fetch(url)
        .then(response => response.text()) // Extract the response body as text
        .then(html => {
          $("#triggercontent").html(html); // Set the HTML content of the element
          feather.replace(); // Display the arrows on the buttons
          readHTMLParams();
          setSelected();
          setSort();
          document.getElementById("pageSizeField").value = pageSize; //Display correct page size
        })
        .catch(console.error);
    }
    
    // Function to fetch and apply filters
    function setFilters(event) {  
      // Allow for custom form handling
      event.preventDefault();
      // Update the table according to the new filters
      updateTable(null, null);
    }
    
    // Function to hide or show trigger details
      function toggleTriggerCalendar(id) {
          var content = document.getElementById("wfcontentCalendar" + id);
          var eleshow = document.getElementById("showwfCalendar" + id);
          var elehide = document.getElementById("hidewfCalendar" + id);
          $(content).toggleClass("filtercontent");
          if ($(content).css("display") === "none") {
              $(eleshow).show();
              $(elehide).hide();
          } else {
              $(eleshow).hide();
              $(elehide).show();
          }}
      function toggleTriggerDataDriven(id) {
          var content = document.getElementById("wfcontentDataDriven" + id);
          var eleshow = document.getElementById("showwfDataDriven" + id);
          var elehide = document.getElementById("hidewfDataDriven" + id);
          $(content).toggleClass("filtercontent");
          if ($(content).css("display") === "none") {
              $(eleshow).show();
              $(elehide).hide();
          } else {
              $(eleshow).hide();
              $(elehide).show();
          }}
      function toggleTriggerDatatake(id) {
          var content = document.getElementById("wfcontentDatatake" + id);
          var eleshow = document.getElementById("showwfDatatake" + id);
          var elehide = document.getElementById("hidewfDatatake" + id);
          $(content).toggleClass("filtercontent");
          if ($(content).css("display") === "none") {
              $(eleshow).show();
              $(elehide).hide();
          } else {
              $(eleshow).hide();
              $(elehide).show();
          }}
      function toggleTriggerOrbit(id) {
          var content = document.getElementById("wfcontentOrbit" + id);
          var eleshow = document.getElementById("showwfOrbit" + id);
          var elehide = document.getElementById("hidewfOrbit" + id);
          $(content).toggleClass("filtercontent");
          if ($(content).css("display") === "none") {
              $(eleshow).show();
              $(elehide).hide();
          } else {
              $(eleshow).hide();
              $(elehide).show();
          }}
      function toggleTriggerTimeInterval(id) {
          var content = document.getElementById("wfcontentTimeInterval" + id);
          var eleshow = document.getElementById("showwfTimeInterval" + id);
          var elehide = document.getElementById("hidewfTimeInterval" + id);
          $(content).toggleClass("filtercontent");
          if ($(content).css("display") === "none") {
              $(eleshow).show();
              $(elehide).hide();
          } else {
              $(eleshow).hide();
              $(elehide).show();
          }}
    
    
  </script>

<script>
// correct scroll due to "sticky" elements
var handler = function ( ) {
   var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
           + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
   window.scrollBy(0, h);
 };
 window.addEventListener('hashchange', handler);

 // Read the HTML parameters from URI and retrieve the corresponding data
 function loadWindow() {
     activateSidebarElem('sb-trigger');
     feather.replace();
     readHTMLParams();
     setSelected();
     updateTable(currentPage, pageSize);
 };
 
 window.onload = function () {
     loadWindow();
     // correct scroll due to "sticky" elements
     var handler = function ( ) {
         var h = (document.getElementById('proseo-thead').getBoundingClientRect().height 
                  + document.getElementById('proseo-nav').getBoundingClientRect().height) * (-1);
         window.scrollBy(0, h);
     };        
 };
//     window.onload = function init() { 
//         readHTMLParams();
//         setSelected();
//         setSort();
//         // Call the updateTable(currentPage) function initially to populate the table on page load
//         updateTablePrim(currentPage);
    
//         // Add an event listener to the form so that the filters will be applied
//         document.getElementById("triggerFilters").addEventListener("submit", setFilters);
//     }
  </script>

</html>
