<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="#{workflow} + ' | ' + #{proseo}">proseo</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous" />

<!-- Custom styles for prosEO -->
<link href="../static/fragments/proseo.css"
	th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="../static/fragments/bootstrap-multiselect.css"
	th:href="@{/fragments/bootstrap-multiselect.css}" type="text/css" />
</head>

<body>

	<div style="display: none;" class="loading">
		<div class="loader"></div>
	</div>

	<nav id="proseo-nav"
		class="navbar bg-light fixed-top flex-md-nowrap p-0 shadow navbar-expand-md">
		<div class="container-fluid pl-0 pr-0">
			<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
				href="/"><img src="proseo_logo.png" class="rounded" width="50"
				height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>

			<button class="navbar-toggler position-absolute d-md-none collapsed"
				type="button" data-toggle="collapse" data-target="#sidebarMenu"
				aria-controls="sidebarMenu" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<ul class="navbar-nav mr-auto navbar-left">
				<li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
						th:text="${missioncode}">mission</span></a></li>
				<li class="p-breadcrumb-item"><span th:text="#{workflow}">workflow</span></li>
			</ul>

			<div th:replace="fragments/navbar.html :: navbarRight"></div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row">
			<div th:insert="fragments/sidebar.html :: sidebarMenu"></div>
			<div class="proseo-top-div"></div>

			<!-- Show an error message if the user is not authorized to view workflows -->
			<main th:unless="${hasroleprocessorreader}" role="main"
				class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<h5 class="FAILED">
					<br> <span th:text="#{noroleright}"></span> (PROCESSOR_READER)
					<br>&nbsp;
				</h5>
			</main>

			<!-- Show workflows if the user is authorized -->
			<main th:if="${hasroleprocessorreader}" role="main"
				class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

				<div th:if="${errormsg != null}" id="errormsg" class="FAILED">
					<h5>
						<br> <span th:text="${errormsg}"></span>
					</h5>
				</div>


				<!-- Filter workflows -->
				<form id="workflowFilters">
					<div class="row py-lg-1">

						<!-- Filter id -->
						<div class="col-1 pr-lg-0">
							<p class="input-group-text word-wrap" th:text="#{id}"></p>
						</div>
						<div class="col-1 pl-lg-0">
							<input type="number" class="form-control" name="id" id="id">
						</div>

						<!-- Filter name -->
						<div class="col-1 pr-lg-0">
							<p class="input-group-text word-wrap" th:text="#{name}"></p>
						</div>
						<div class="col-3 pl-lg-0">
							<input type="text" class="form-control" name="name" id="name">
						</div>

						<!-- Filter version -->
						<div class="col-2 pr-lg-0">
							<p class="input-group-text word-wrap"
								th:text="#{workflowversion}"></p>
						</div>
						<div class="col-1 pl-lg-0">
							<input type="text" class="form-control" name="workflowVersion"
								id="workflowVersion">
						</div>

					</div>
					<div class="row py-lg-1">

						<!-- Submit button -->
						<div class="col-3">
							<button type="submit" class="btn btn-sm btn-outline-secondary">
								<span th:text="#{workflow-show}"></span>
							</button>
						</div>
						
						<!-- Filter input product class -->
						<div class="col-3 pr-lg-0">
							<p class="input-group-text word-wrap"
								th:text="#{inputproductclass}"></p>
						</div>
						<div class="col-3 pl-lg-0">
							<input type="text" class="form-control" name="inputProductClass"
								id="inputProductClass">
						</div>

					</div>
				</form>

				<!-- The actual workflow table -->
				<div id="workflowcontent" name="workflowcontent">
					<table class="table" id="workflowTable">

						<!-- Table header -->
						<thead class="thead-proseo" id="proseo-thead">
							<tr>
								<th><span th:text="#{id}">id</span></th>
								<th><span th:text="#{version}">version</span></th>
								<th><span th:text="#{name}">name</span></th>
								<th><span th:text="#{uuid}">uuid</span></th>
								<th><span th:text="#{description}">description</span></th>
								<th><span th:text="#{workflowversion}">workflowversion</span></th>
								<th><span th:text="#{enabled}">enabled</span></th>
							</tr>
							<tr>
								<th><span th:text="#{inputproductclass}">inputproductclass</span></th>
								<th><span th:text="#{outputproductclass}">outputproductclass</span></th>
								<th><span th:text="#{configuredprocessor}">configuredprocessor</span></th>
								<th><span th:text="#{outputfileclass}">outputfileclass</span></th>
								<th><span th:text="#{processingmode}">processingmode</span></th>
								<th><span th:text="#{slicingtype}">slicingtype</span></th>
								<th><span th:text="#{sliceduration}">sliceduration</span></th>
							</tr>
							<tr>
								<th><span th:text="#{sliceoverlap}">sliceoverlap</span></th>
								<th><span th:text="#{inputfilters}">inputfilters</span></th>
								<th><span th:text="#{workflowoptions}">workflowoptions</span></th>
								<th><span th:text="#{classoutputparameters}">classoutputparameters</span></th>
								<th><span th:text="#{outputparameters}">outputparameters</span></th>
							</tr>
						</thead>

						<!-- Table body -->
						<tbody th:unless="${workflows == null}">
							<div th:each="workflow : ${workflows}">
								<tr>
									<td class="first-row" th:text="${workflow.id}"></td>
									<td class="first-row" th:text="${workflow.version}"></td>
									<td class="first-row" th:text="${workflow.name}"></td>
									<td class="first-row" th:text="${workflow.uuid}"></td>
									<td class="first-row" th:text="${workflow.description}"></td>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.workflowVersion}"
										th:text="${workflow.workflowVersion}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.workflowVersion}"></span></td>
									<td class="first-row" th:text="${workflow.enabled}"></td>
								</tr>
								<tr>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.inputProductClass}"
										th:text="${workflow.inputProductClass}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.inputProductClass}"></span></td>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.outputProductClass}"
										th:text="${workflow.outputProductClass}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.outputProductClass}"></span></td>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.configuredProcessor}"
										th:text="${workflow.configuredProcessor}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.configuredProcessor}"></span></td>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.outputFileClass}"
										th:text="${workflow.outputFileClass}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.outputFileClass}"></span></td>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.processingMode}"
										th:text="${workflow.processingMode}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.processingMode}"></span></td>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.slicingType}"
										th:text="${workflow.slicingType}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.slicingType}"></span></td>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.sliceDuration}"
										th:text="${workflow.sliceDuration}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.sliceDuration}"></span></td>
								</tr>
								<tr>
									<td class="first-row"><a th:if="${hasroleprocessorreader}"
										th:href="'/workflow-show#' + ${workflow.name} + '-' + ${workflow.sliceOverlap}"
										th:text="${workflow.sliceOverlap}"></a><span
										th:unless="${hasroleprocessorreader}"
										th:text="${workflow.sliceOverlap}"></span></td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<tr th:each="elem : ${workflow?.inputFilters}">
													<td th:text="${elem?.key}"></td>
													<td th:text="${elem?.value}"></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<tr th:each="elem : ${workflow?.workflowOptions}">
													<td th:text="${elem?.name}"></td>
													<td th:text="${elem?.defaultValue}"></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<tr th:each="elem : ${workflow?.classOutputParameters}">
													<td th:text="${elem?.key}"></td>
													<td th:text="${elem?.value}"></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<tr th:each="elem : ${workflow?.outputParameters}">
													<td th:text="${elem?.key}"></td>
													<td th:text="${elem?.parameterValue}"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</div>
						</tbody>
					</table>

					<div th:replace="fragments/navbar.html :: alternatePageNav"></div>
				</div>
				<div th:insert="fragments/footer.html :: footer"></div>
			</main>

		</div>

	</div>

	<!-- Imports -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://unpkg.com/feather-icons"></script>

	<script type="text/javascript" th:inline="javascript">
		// Global variables
		var currentPage = 1; // Current page number
		var pageSize = 2; // Maximum objects per page
		
		// Workflow filters
		var id = null;
		var name = null;
		var workflowVersion = null;
		var inputProductClass = null;
		
		// Function to fetch objects from the REST controller
		function updateTable(newPage) {
			currentPage = newPage;
			
			var recordFrom = (currentPage - 1) * pageSize;
			var recordTo = currentPage * pageSize;			
			
			var url = "/workflow/get?recordFrom=" + recordFrom 
					+ "&recordTo=" + recordTo 
					+ "&currentPage=" + currentPage 
					+ "&pageSize=" + pageSize;
			
			if (id != null && id != "null")
				url += "&id=" + id;
			
			if (name != null && name != "null")
				url += "&name=" + name;
					
			if (workflowVersion != null && workflowVersion != "null")
				url += "&workflowVersion=" + workflowVersion;
			
			if (inputProductClass != null && inputProductClass != "null")
				url += "&inputProductClass=" + inputProductClass;
			
			console.log(url);
			
			fetch(url)
			  .then(response => response.text()) // Extract the response body as text
			  .then(html => {
				  $("#workflowcontent").html(html); // Set the HTML content of the element
				  feather.replace(); // Display the arrows on the buttons
				  })
			  .catch(console.error);
		}
		
		function setFilters(event) {	
			// Allow for custom form handling
			event.preventDefault();
			
			// Retrieve the values from the form inputs
			id = document.getElementById("id").value.trim() === "" ? null : document.getElementById("id").value;
			name = document.getElementById("name").value.trim() === "" ? null : document.getElementById("name").value;
			workflowVersion = document.getElementById("workflowVersion").value.trim() === "" ? null : document.getElementById("workflowVersion").value;
			inputProductClass = document.getElementById("inputProductClass").value.trim() === "" ? null : document.getElementById("inputProductClass").value;
		    
		    // Update the table according to the new filters
		    updateTable(currentPage);
		}
	</script>

	<script>
    window.onload = function init() {					
		// Call the updateTable(currentPage) function initially to populate the table on page load
		updateTable(currentPage);
		
		// Add an event listener to the form so that the filters will be applied
		document.getElementById("workflowFilters").addEventListener("submit", setFilters);
    }
	</script>
</body>

</html>