<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="hyphens: auto;word-break: break-word;">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="#{workflow} + ' | ' + #{proseo}">proseo</title>


        <!-- Bootstrap core CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Custom styles for prosEO -->
				<link href="../static/fragments/proseo.css"
					th:href="@{/fragments/proseo.css}" rel="stylesheet" type="text/css" />
				<link rel="stylesheet"
					href="../static/fragments/bootstrap-multiselect.css"
					th:href="@{/fragments/bootstrap-multiselect.css}" type="text/css" />
</head>

<body>
	<header>
		<nav id="proseo-nav"
			class="navbar navbar-expand-lg bg-body-tertiary bg-light fixed-top shadow no-padding">
			<div class="container-fluid no-padding">
				<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" id="mission"
					href="/"><img src="proseo_logo.png" class="rounded" width="50"
					height="50">&nbsp;<span th:text="#{proseo}">proseo</span></a>
				<button class="navbar-toggler position-absolute d-md-none collapsed"
					type="button" data-toggle="collapse" data-target="#sidebarMenu"
					aria-controls="sidebarMenu" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<ul class="navbar-nav mr-auto navbar-left">
					<li class="p-breadcrumb-item"><a class="bread-link" href="/"><span
							th:text="${missioncode}">mission</span></a></li>
					<li class="p-breadcrumb-item" aria-current="page"><span
						th:text="#{workflow}">workflow</span></li>
				</ul>
				<div th:replace="~{fragments/navbar.html :: navbarRight}"></div>
			</div>
		</nav>
	</header>
	<div style="display: none;" class="loading">
		<div class="loader"></div>
	</div>

	<div th:replace="~{fragments/sidebar.html :: sidebarMenu}"></div>
	<div class="container-fluid bg-body proseo-body">
		<!-- Show an error message if the user is not authorized to view workflows -->
		<main th:unless="${hasroleprocessorreader}" role="main"
			class="col-auto px-md-4">
			<h5 class="FAILED">
				<br> <span th:text="#{noroleright}"></span> (PROCESSOR_READER)
				<br>&nbsp;
			</h5>
		</main>

		<!-- Show workflows if the user is authorized -->
		<main th:if="${hasroleprocessorreader}" role="main"
			class="col-sm-auto px-md-4">

			<div th:if="${errormsg != null}" id="errormsg" class="FAILED">
				<h5>
					<br> <span th:text="${errormsg}"></span>
				</h5>
			</div>


			<!-- Filter workflows -->
			<form id="workflowFilters">
				<div class="row py-lg-1">

					<!-- Filter id -->
					<div class="col-1 pe-lg-0" th:title="#{selectId}">
						<p class="input-group-text word-wrap" th:text="#{id}"></p>
					</div>
					<div class="col-1 ps-lg-0" th:title="#{selectId}">
						<input type="number" class="form-control" name="id" id="id">
					</div>

					<!-- Filter name -->
					<div class="col-1 pe-lg-0" th:title="#{selectNamePattern}">
						<p class="input-group-text word-wrap" th:text="#{name}"></p>
					</div>
					<div class="col-3 ps-lg-0" th:title="#{selectNamePattern}">
						<input type="text" class="form-control" name="name" id="name">
					</div>

					<!-- Filter version -->
					<div class="col-2 pe-lg-0" th:title="#{selectWorkflowVersion}">
						<p class="input-group-text word-wrap" th:text="#{workflowversion}"></p>
					</div>
					<div class="col-1 ps-lg-0" th:title="#{selectWorkflowVersion}">
						<input type="text" class="form-control" name="workflowVersion"
							id="workflowVersion">
					</div>

				</div>
				<div class="row py-lg-1">

					<!-- Submit button -->
					<div class="col-3">
						<button type="submit" class="btn btn-sm btn-outline-secondary">
							<span th:text="#{workflow-show}"></span>
						</button>
					</div>

					<!-- Filter input product class -->
					<div class="col-3 pe-lg-0" th:title="#{selectWorkflowInput}">
						<p class="input-group-text word-wrap"
							th:text="#{inputproductclass}"></p>
					</div>
					<div class="col-3 ps-lg-0" th:title="#{selectWorkflowInput}">
						<input type="text" class="form-control" name="inputProductClass"
							id="inputProductClass">
					</div>

				</div>
			</form>

			<!-- The actual workflow table -->
			<div id="workflowcontent" name="workflowcontent">
				<table class="table" id="workflowTable">

					<!-- Table header (parts that are always visible) -->
					<thead class="thead-proseo" id="proseo-thead">
						<tr>
							<th><span>&nbsp;</span></th>
							<th><span th:text="#{id}">id</span></th>
							<th onclick="selectSort('select-name')" class="cursorpointer"><span
								id="select-name" class="select-up"
								th:class="((${selcol} == 'id' ? ${selorder} : ''))"
								th:text="#{name}">name</span></th>
							<th onclick="selectSort('select-workflowversion')"
								class="cursorpointer"><span id="select-workflowversion"
								class="select-up"
								th:class="((${selcol} == 'id' ? ${selorder} : ''))"
								th:text="#{workflowversion}">workflowversion</span></th>
							<th onclick="selectSort('select-inputproductclass')"
								class="cursorpointer"><span id="select-inputproductclass"
								class="select-up"
								th:class="((${selcol} == 'id' ? ${selorder} : ''))"
								th:text="#{inputproductclass}">inputproductclass</span></th>
							<th onclick="selectSort('select-outputproductclass')"
								class="cursorpointer"><span id="select-outputproductclass"
								class="select-up"
								th:class="((${selcol} == 'id' ? ${selorder} : ''))"
								th:text="#{outputproductclass}">outputproductclass</span></th>
							<th><span th:text="#{description}">description</span></th>
							<th><span th:text="#{processingmode}">processingmode</span></th>
						</tr>
					</thead>

					<div th:unless="${workflows} == null">
						<div th:each="workflow : ${workflows}">

							<!-- Workflow content that is always visible -->
							<tbody>
								<tr>
									<td th:id="'togglewf' + ${workflow.id}"
										class="cursorpointer first-row no-right-border"
										th:onclick="'toggleWorkflow('+${workflow.id}+')'">
										<div class="hideworkflow" th:id="'hidewf' + ${workflow.id}"
											th:title="#{hideWorkflowDetails}"
											th:style="${'display: none;'}">
											<span data-feather="minus-circle"></span>
										</div>
										<div class="showworkflow" th:id="'showwf' + ${workflow.id}"
											th:title="#{showWorkflowDetails}"
											th:style="${'display: block;'}">
											<span data-feather="plus-circle"></span>
										</div>
									</td>
									<td class="cursorpointer first-row no-left-border"
										th:onclick="'toggleWorkflow('+${workflow.id}+')'"
										th:text="${workflow.id}"></td>
									<td class="first-row" th:text="${workflow.name}"></td>
									<td class="first-row" th:text="${workflow.workflowVersion}"></td>
									<td class="first-row"><a th:if="${hasroleproductreader}"
										th:href="'/productclass-show?productClass=' + ${workflow.inputProductClass}"
										th:text="${workflow.inputProductClass}"></a><span
										th:unless="${hasroleproductreader}"
										th:text="${workflow.inputProductClass}"></span></td>
									<td class="first-row"><a th:if="${hasroleproductreader}"
										th:href="'/productclass-show?productClass=' + ${workflow.outputProductClass}"
										th:text="${workflow.outputProductClass}"></a><span
										th:unless="${hasroleproductreader}"
										th:text="${workflow.outputProductClass}"></span></td>
									<td class="first-row" th:text="${workflow.description}"></td>
									<td class="first-row" th:text="${workflow.processingMode}"></td>
								</tr>
							</tbody>

							<!-- Workflow headers and content that can be hidden -->
							<tbody class="filtercontent" th:id="'wfcontent'+${workflow.id}">

								<!-- Table header (parts that are hidden by default) -->
								<tr class="th-row">
									<th class="tr-rowspan"><span>&nbsp;</span></th>
									<th><span th:text="#{slicingtype}">slicingtype</span></th>
									<th><span th:text="#{sliceduration}">sliceduration</span></th>
									<th><span th:text="#{sliceoverlap}">sliceoverlap</span></th>
									<th><span th:text="#{configuredprocessor}">configuredprocessor</span></th>
									<th><span th:text="#{outputfileclass}">outputfileclass</span></th>
									<th><span th:text="#{uuid}">uuid</span></th>
									<th><span th:text="#{version}">version</span></th>
								</tr>

								<!-- Hidden content -->
								<tr class="proseo-row-divider">
									<td class="tr-rowspan">&nbsp;</td>
									<td class="first-row" th:text="${workflow.slicingType}"></td>
									<td class="first-row" th:text="${workflow.sliceDuration}"></td>
									<td class="first-row" th:text="${workflow.sliceOverlap}"></td>
									<td class="first-row" th:text="${workflow.configuredProcessor}"></td>
									<td class="first-row" th:text="${workflow.outputFileClass}"></td>
									<td class="first-row" th:text="${workflow.uuid}"></td>
									<td class="first-row" th:text="${workflow.version}"></td>
								</tr>

								<!-- More hidden table headers -->
								<tr class="th-row">
									<th class="tr-rowspan"><span>&nbsp;</span></th>
									<th><span th:text="#{enabled}">enabled</span></th>
									<th><span th:text="#{inputfilters}">inputfilters</span></th>
									<th><span th:text="#{workflowoptions}">workflowoptions</span></th>
									<th><span th:text="#{classoutputparameters}">classoutputparameters</span></th>
									<th><span th:text="#{outputparameters}">outputparameters</span></th>
								</tr>

								<!-- More hidden table content -->
								<tr class="proseo-row-divider">
									<td class="tr-rowspan">&nbsp;</td>
									<td class="first-row" th:text="${workflow.enabled}"></td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<tr th:each="elem : ${workflow?.inputFilters}">
													<td th:text="${elem?.key}"></td>
													<td th:text="${elem?.value}"></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<tr th:each="elem : ${workflow?.workflowOptions}">
													<td th:text="${elem?.name}"></td>
													<td th:text="${elem?.defaultValue}"></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<div th:each="params : ${workflow?.classOutputParameters}">
													<div th:each="p,iterStat : ${params?.outputParameters}">
														<tr th:if="${iterStat.first} == true" class="first-row">
															<td th:rowspan="${#lists.size(params?.outputParameters)}"
																class="first-row"><span
																th:text="${params?.productClass}"></span></td>
															<td class="first-row"><span th:text="${p?.key}"></span></td>
															<td class="first-row"><span
																th:text="${p?.parameterValue}"></span></td>
														</tr>
														<tr th:if="${iterStat.first} == false">
															<td><span th:text="${p?.key}"></span></td>
															<td><span th:text="${p?.parameterValue}"></span></td>
														</tr>
													</div>
												</div>
											</tbody>
										</table>
									</td>
									<td class="first-row">
										<table class="table">
											<tbody>
												<tr th:each="elem : ${workflow?.outputParameters}">
													<td th:text="${elem?.key}"></td>
													<td th:text="${elem?.parameterValue}"></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>

							</tbody>

						</div>
					</div>

				</table>

				<div th:replace="~{fragments/navbar.html :: alternatePageNav}"></div>
			</div>
			<div th:insert="~{fragments/footer.html :: footer}"></div>
		</main>

	</div>
</body>

<!-- Imports -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script
	src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
<script
	src="sha384-sha384-G/EV+4j2dNv+tEPo3+https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-sha384-G/EV+4j2dNvsha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="../static/fragments/proseo.js"
	th:src="@{/fragments/proseo.js}" type="text/javascript"></script>
<script src="../static/fragments/bootstrap-multiselect.js"
	th:src="@{/fragments/bootstrap-multiselect.js}" type="text/javascript"></script>

<script type="text/javascript" th:inline="javascript">
	function wikiPage() {
	    window.open('https://github.com/dlr-eoc/prosEO/wiki/GUI-Workflow#workflow');
	}

		// Global variables
		var currentPage = 1; // Current page number
		var pageSize = 20; // Maximum objects per page
		
		// Workflow filters
		var id = null;
		var wname = null;
		var workflowVersion = null;
		var inputProductClass = null;

	  // sorting
	  var sortCols = ['select-name', 'select-workflowversion', 'select-inputproductclass', 'select-outputproductclass'];
	  var sortCol = "name";
	  var upText = "true";

		function setParams(ele, selup, newPage, newPageSize) {
	      var newId = null;
	      var newName = null;
	      var newWorkflowVersion = null;
	      var newInputProductClass = null;

		    var hasChanged = false;
		      
		    hasChanged |= setPageParams(newPage, newPageSize);
		    hasChanged |= setSortParams(ele, selup);
        newId = $('#id').val();
        if (isEmpty(newId)) {newId = null};
        newName = $('#name').val();
        if (isEmpty(newName)) {newName = null};
        newWorkflowVersion = $('#workflowVersion').val();
        if (isEmpty(newWorkflowVersion)) {newWorkflowVersion = null};
        newInputProductClass = $('#inputProductClass').val();
        if (isEmpty(newInputProductClass)) {newInputProductClass = null};

        if (   id != newId
            || wname != newName
            || workflowVersion != newWorkflowVersion
            || inputProductClass != newInputProductClass) {
          // table size may be changed, go to first page
          currentPage = 1;
          newPage = 1;
          hasChanged = true;
        }   
        id = newId;
        wname = newName;
        workflowVersion = newWorkflowVersion;
        inputProductClass = newInputProductClass;
        if (hasChanged) {
            setHTMLParams();
        }
		}
		
		function setHTMLParams() {
		    var loc = location.search.slice(0);
		    var search = location.search.slice(1);
		    // build parameter string
		    var paramString = "";
		    paramString = addURLParamValuePrim('id', id, paramString);
		    paramString = addURLParamValuePrim('name', wname, paramString);
		    paramString = addURLParamValuePrim('workflowVersion', workflowVersion, paramString);
		    paramString = addURLParamValuePrim('inputProductClass', inputProductClass, paramString);
		    paramString = setPageHTMLParams(paramString);
		    paramString = setSortHTMLParams(paramString);
		    var newHref = location.origin + location.pathname + paramString;
		    if (newHref != location.href) {
		        history.pushState({}, null, newHref);
		    }
		}

		function readHTMLParams() {
		    readPageHTMLParams();
		    readSortHTMLParams();
		    id = getURLParam('id');
	      wname = getURLParam('name');
	      workflowVersion = getURLParam('workflowVersion');
	      inputProductClass = getURLParam('inputProductClass');
		}
		
		function setSelected() {
		      $('#id').val(id);
		      $('#name').val(wname);
		      $('#workflowVersion').val(workflowVersion);
		      $('#inputProductClass').val(inputProductClass);
		}

		function updateTable(newPage, newPageSize) {
		  setParams(null, null, newPage, newPageSize);
			updateTablePrim(currentPage);
		}

		function retrieveDataPrim(notUsed) {
		    updateTablePrim(currentPage);
		}
		
		// Function to fetch objects from the REST controller
		function updateTablePrim(newPage) {
			currentPage = newPage;
			
			var recordFrom = (currentPage - 1) * pageSize;
			var recordTo = currentPage * pageSize;			
			
			var url = "/workflow/get?recordFrom=" + recordFrom 
					+ "&recordTo=" + recordTo 
					+ "&currentPage=" + currentPage 
					+ "&pageSize=" + pageSize
	        + "&sortby=" + sortCol.replace("select-", "")
	        + "&up=" + upText;
			
			if (parameterHasValue(id))
				url += "&id=" + id;
			
			if (parameterHasValue(wname))
				url += "&name=" + wname;
					
			if (parameterHasValue(workflowVersion))
				url += "&workflowVersion=" + workflowVersion;
			
			if (parameterHasValue(inputProductClass))
				url += "&inputProductClass=" + inputProductClass;
			
			console.log(url);
			
			fetch(url)
			  .then(response => response.text()) // Extract the response body as text
			  .then(html => {
				  $("#workflowcontent").html(html); // Set the HTML content of the element
				  feather.replace(); // Display the arrows on the buttons
				  readHTMLParams();
				  setSelected();
				  setSort();
          document.getElementById("pageSizeField").value = pageSize; //Display correct page size
        })
			  .catch(console.error);
		}
		
		// Function to fetch and apply filters
		function setFilters(event) {	
			// Allow for custom form handling
			event.preventDefault();
			// Update the table according to the new filters
		  updateTable(null, null);
		}
		
		// Function to hide or show workflow details
	    function toggleWorkflow(id) {
		      var content = document.getElementById("wfcontent" + id);
		      var eleshow = document.getElementById("showwf" + id);
		      var elehide = document.getElementById("hidewf" + id);
		      $(content).toggleClass("filtercontent");
		      if ($(content).css("display") === "none") {
		          $(eleshow).show();
		          $(elehide).hide();
		      } else {
		          $(eleshow).hide();
		          $(elehide).show();
		      }
		  }
		
	</script>

<script>
	  window.onpopstate = function(event) {
		  if (location.toString().charAt(location.toString().length-1) != '#') {
		    document.location.reload();
		  }
		};
    window.onload = function init() {	
    	  readHTMLParams();
    	  setSelected();
        setSort();
    	  // Call the updateTable(currentPage) function initially to populate the table on page load
		    updateTablePrim(currentPage);
		
		    // Add an event listener to the form so that the filters will be applied
		    document.getElementById("workflowFilters").addEventListener("submit", setFilters);
		}
	</script>

</html>
