logging:
    level:
        root: INFO
        org.springframework.web.servlet: DEBUG
        de.dlr.proseo: TRACE
        org.apache.olingo: DEBUG
proseo:
    ingestor.url: http://proseo-ingestor:8080/proseo/ingestor/v0.1
    orderManager.url: http://proseo-order-mgr:8080/proseo/order-mgr/v0.1
    processorManager.url: http://proseo-processor-mgr:8080/proseo/processor-mgr/v0.1
    facilityManager.url: http://proseo-facility-mgr:8080/proseo/facility-mgr/v0.1
