apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ********
    server: https://kubernetes.mydomain.com
  name: mykube
contexts:
- context:
    cluster: mykube
    user: kube-api
  name: mykube
current-context: mykube
kind: Config
preferences: {}
users:
- name: kube-api
  user:
    password: ********
    username: kube-api
