{
    "code": "VAL_PRIP",
    "name": "prosEO VAL Production Service Interface Delivery Point",
    "archiveType": "PRIP",
    "baseUri": "https://<host>:<port>",
    "context": "proseo/prip",
    "tokenRequired": false,
    "username": "PTM\\proseo",
    "password": "********",
    "availableProductClasses": [ "PTM_L0", "PTM_L1B_P1", "PTM_L1B_P2", "PTM_L2_A", "PTM_L2_B", "PTM_L3", "AUX_IERS_B" ]
}
