spring:
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate.ddl-auto: update
        open-in-view: false
    datasource:
        url: jdbc:postgresql://proseo-db:5432/proseo
        username: postgres
        password: sequel09Master
logging:
    level:
        root: INFO
        de:
            dlr:
                proseo: TRACE
proseo:
    ingestor:
        url: http://proseo-ingestor:8080/proseo/ingestor/v0.1
        # Connection timeout in ms
        timeout: 1000
        # User for Ingestor connections (must have PRODUCT_GENERATOR role)
        user: <user>
        password: <password>
